<div [ngClass]="{ 'form-label-group': true }">
  <label *ngIf="label" [ngClass]="{ 'mr-auto': true }"
  >{{ label }}
    <span class="required" *ngIf="isRequired">*</span>
    <span [matTooltip]="tooltip" [matTooltipPosition]="'right'" class="material-icons tooltip-icon" *ngIf="tooltip"
    >help_outline</span
    >
  </label>
  <ng-container>
    <div
            [ngClass]="{
        'file-drop-area': true,
        'error-border': showErrorBorder && checkError()
      }"
    >
      <div class="column">
        <div class="d-flex flex-row pl-1">
          <span class="fake-btn">Choose file</span>
          <finlevit-button *ngIf="uploadButton" [isSmall]="true" class="upload-button pl-4" label="Upload" icon="pi pi-upload" (btnClick)="onBtnClick()"></finlevit-button>
        </div>
        <span *ngIf="!file" class="file-msg">or drag and drop file here</span>
        <div>
          <span *ngIf="file" class="file-name">{{file.name}}</span>
          <i *ngIf="uploadStatus === 'pending'" class="pi pi-spin pi-spinner upload-status-icon pending-icon" ></i>
          <i *ngIf="uploadStatus === 'completed'" class="pi pi-check-circle upload-status-icon completed-icon"></i>
        </div>
      </div>
      <input class="file-input" type="file" [disabled]="disabled" (change)="uploadImage($event)"/>
    </div>
  </ng-container>
  <div [ngClass]="{ 'd-flex': true }" *ngIf="checkError()">
    <span class="error-msg">{{ errorMsg || getErrorMessages()[0] }}</span>
  </div>
</div>

