.details-container {
  height: 100vh;
  margin: auto;
}

.editor-container {
  min-height: 100vh;
  margin: auto;
  .editor {
    background: var(--color-white);
  }
}
.gridster-container {
  height: 1500px;
  min-height: 100vh;
  position: relative;
}

.error-msg {
  padding: 10px;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-30);
  color: rgb(97, 26, 21);
  background-color: rgb(253, 236, 234);
  margin: 0 20px;
  display: flex;
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .help-text {
    margin-top: var(--spacing-xl); //closest variable
    font-size: var(--font-size-50); //closest variable
    color: #6c7b85;
  }
}
