<div [ngClass]="{ 'collapse-container': true }">
  <p-accordion expandIcon="" collapseIcon="" (onOpen)="onCollapse(true, item)" (onClose)="onCollapse(false, item)">
    <p-accordionTab [(selected)]="collapseContainerStatus">
      <ng-template pTemplate="header">
        <div
          [ngStyle]="{
            padding: '0.70rem 1.25rem',
            color: item?.metaData?.header?.color,
            width: '100%',
            backgroundColor: item?.metaData?.header?.bgColor
          }"
          class="collapse-container-tab"
        >
          <span [ngStyle]="{ marginRight: '0.5rem' }">
            <i *ngIf="!collapseContainerStatus" class="pi pi-chevron-right"></i>
            <i *ngIf="collapseContainerStatus" class="pi pi-chevron-down"></i>
          </span>
          {{ item?.metaData?.title }}
        </div>
      </ng-template>
      <div
        [ngClass]="{
          'nested-grid-container': true,
          'empty-child': !item.children.length
        }"
      >
        <div *ngIf="!item.children.length" class="container-help-text">
          <i class="pi pi-plus"></i>
          <span>Drag and drop fields to container</span>
        </div>
        <finlevit-grid
          [showEdit]="showEdit"
          [viewMode]="viewMode"
          [parent]="item"
          [items]="item.children"
          (onOptionChange)="optionChange($event, $event.data)"
        ></finlevit-grid>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
