.nested-grid-container {
  height: 100%;
  &.empty-child {
    position: relative;
    ::ng-deep {
      .container-help-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 13px;
        justify-content: center;
        color: gray;
        position: absolute;
        z-index: 1;
        height: 100%;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }
  }
  .container-title {
    height: 40px;
    background-color: lightgray;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-20);
    display: flex;
    align-items: center;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: gray;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px 4px 0 0;
  }
  ::ng-deep {
    gridster {
      background: #ffffff;
    }
    .card-container {
      height: 100%;
      background: #ffffff;
      border: 1px solid #dddddd;
      gridster {
        background: #ffffff;
      }
    }
  }
  &.footer-container {
    ::ng-deep {
      gridster {
        background: #31383e;
        color: #ffffff;
      }
    }
  }
}
