<div
  [ngClass]="{ 'collapse-container': true }"
  applyStyle
  [filterStyles]="['borderStyles', 'boxShadowStyles']"
  [styleProperties]="JSON.parse(JSON.stringify(item?.metaData?.styleProperties?.properties))"
  [style.--border-radius]="this.metaData?.styleProperties?.properties?.borderRadius"
>
  <p-accordion expandIcon="" collapseIcon="" (onOpen)="onCollapse(true, item)" (onClose)="onCollapse(false, item)">
    <p-accordionTab [(selected)]="collapseContainerStatus">
      <ng-template pTemplate="header">
        <div
          applyStyle
          [filterStyles]="['titleStyles']"
          [styleProperties]="JSON.parse(JSON.stringify(this.metaData?.styleProperties?.properties))"
          [style.width]="'100%'"
          [style.display]="'flex'"
          [style.align-items]="'center'"
        >
          <span>
            <finlevit-icon-preview
              *ngIf="!collapseContainerStatus"
              class="p-pr-1 mr-2 d-flex"
              [icon]="'pi pi-chevron-right'"
            ></finlevit-icon-preview>
            <finlevit-icon-preview
              *ngIf="collapseContainerStatus"
              class="p-pr-1 mr-2 d-flex"
              [icon]="'pi pi-chevron-down'"
            ></finlevit-icon-preview>
          </span>
          <span [style.flex-grow]="1">
            {{ item?.metaData?.title }}
          </span>
        </div>
      </ng-template>
      <div
        [ngClass]="{
          'nested-grid-container': true,
          'empty-child': !item.children.length
        }"
      >
        <div *ngIf="!item.children.length" class="container-help-text">
          <i class="pi pi-plus"></i>
          <span>Drag and drop fields to container</span>
        </div>
        <finlevit-grid
          [parent]="item"
          [items]="item.children"
          [style.--border-radius-bottom-left]="this.metaData?.styleProperties?.properties?.borderRadius"
          [style.--border-radius-bottom-right]="this.metaData?.styleProperties?.properties?.borderRadius"
          [style.--background-color]="this.metaData?.styleProperties?.properties?.backgroundColor"
          [style.--background-image-url]="'url(' + this.metaData?.styleProperties?.properties?.bgImageUrl + ')'"
        ></finlevit-grid>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
