@font-face {
  font-family: "rng-icons";
  src: url("/assets/fonts/rng-fonts/rng-icons.ttf") format("truetype"),
    url("/assets/fonts/rng-fonts/rng-icons.woff") format("woff"),
    url("/assets/fonts/rng-fonts/rng-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

i,
span {
  &.rng-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "rng-icons", sans-serif !important;
    //speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 24px;
  }
}

button {
  i {
    &.rng-icon {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.rng-icon-visibility:before {
  content: "\e918";
}
.rng-icon-visibility_off:before {
  content: "\e919";
}
.rng-icon-upload:before {
  content: "\e900";
}
.rng-icon-video:before {
  content: "\e901";
}
.rng-icon-image:before {
  content: "\e902";
}
.rng-icon-word_24px_outlined:before {
  content: "\e903";
}
.rng-icon-pdf_24px:before {
  content: "\e904";
}
.rng-icon-generic_doc:before {
  content: "\e905";
}
.rng-icon-excel_24px:before {
  content: "\e906";
}
.rng-icon-arrow_back:before {
  content: "\e5c4";
}
.rng-icon-menu:before {
  content: "\e5d2";
}
.rng-icon-add_circle:before {
  content: "\e147";
}
.rng-icon-insert_drive_file:before {
  content: "\e24d";
}
.rng-icon-more_vert:before {
  content: "\e5d4";
}
.rng-icon-check_circle:before {
  content: "\e86c";
}
.rng-icon-search:before {
  content: "\e8b6";
}
.rng-icon-help_outline:before {
  content: "\e8fd";
}
.rng-icon-exit:before {
  content: "\e907";
}
.rng-icon-circle-outlined:before {
  content: "\e908";
}
.rng-icon-circle-checked-outlined:before {
  content: "\e909";
}
.rng-icon-calendar-date:before {
  content: "\e24f";
}
.rng-icon-bell:before {
  content: "\e90a";
}
.rng-icon-close:before {
  content: "\e5cd";
}
.rng-icon-filter_list:before {
  content: "\e153";
}
.rng-icon-view_list:before {
  content: "\e242";
}
.rng-icon-view_grid:before {
  content: "\e8f1";
}
.rng-icon-profile:before {
  content: "\e90b";
}
.rng-icon-power-off:before {
  content: "\e90c";
}
.rng-icon-add:before {
  content: "\e146";
}
.rng-icon-arrow_forward:before {
  content: "\e5c8";
}
.rng-icon-person_outline:before {
  content: "\e7ff";
}
.rng-icon-pc-monitor:before {
  content: "\e90d";
}
.rng-icon-arrow_drop_down:before {
  content: "\e5c5";
}
.rng-icon-arrow_drop_up:before {
  content: "\e5c9";
}
.rng-icon-check:before {
  content: "\e5ca";
}
.rng-icon-mode_edit:before {
  content: "\e254";
}
.rng-icon-snooze:before {
  content: "\e90e";
}
.rng-icon-comment:before {
  content: "\e90f";
}
.rng-icon-tune:before {
  content: "\e910";
}
.rng-icon-schedule:before {
  content: "\e8b5";
}
.rng-icon-settings:before {
  content: "\e8ba";
}
.rng-icon-history:before {
  content: "\e911";
}
.rng-icon-team:before {
  content: "\e912";
}
.rng-icon-thumb:before {
  content: "\e913";
}
.rng-icon-custodial:before {
  content: "\e914";
}
.rng-icon-trust:before {
  content: "\e915";
}
.rng-icon-joint:before {
  content: "\e916";
}
.rng-icon-individual:before {
  content: "\e917";
}
.rng-icon-visibility_filled:before {
  content: "\e8f4";
}
.rng-icon-visibility_off_filled:before {
  content: "\e8f5";
}
.rng-icon-send:before {
  content: "\e91a";
}
