.centered-buttons {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 -12px;
  button {
    margin: 0px 12px;
  }
  &:not(.column) {
    flex-direction: row;
  }
  .custom-icon-button {
    &.mat-icon-button {
      width: calc(100% - 25px);
      .material-icons {
        font-size: 17px;
        margin: 0 3px;
      }
    }
  }
}

button,
a {
  &.caps {
    text-transform: uppercase;
  }
}
.options-button {
  &:hover {
    button {
      background-color: $primaryBtnHoverBg;
    }
    background-color: $primaryBtnHoverBg;
  }
  padding: 0 5px !important;
  .wrapper-content {
    display: flex;
    align-items: center;
  }
  button {
    margin: 0;
  }
}

.no-hover-effect.mat-button .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-button,
.mat-icon-button {
  .mat-ripple-element {
    background-color: $primaryBtnHoverBg;
  }
}

.mat-raised-button {
  i {
    margin: 0px 8px 0px -4px;
  }
  &.caps-button {
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
  &.bigger-button {
    line-height: 48px;
    min-width: 192px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
  &.small-button {
    font-size: 11px;
    line-height: 26px;
    height: 26px;
  }
}

.badged-button {
  height: 36px;
  @include button();
  &:not(.fit):not(.mat-flat-button) {
    width: 196px;
  }
  border-radius: 18px;
  &.mat-raised-button {
    text-transform: uppercase;
  }
  &.mat-raised-button.mat-primary {
    &:hover {
      background-color: $primaryBtnHoverBg;
    }
  }
  &.mat-raised-button.mat-primary[disabled] {
    background-color: $disabledBG;
    color: rgba(0, 0, 0, 0.38);
  }
  &.mat-flat-button {
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 6px;
    color: $textColorLight;
    text-decoration: none;
    background: $activeHover;
    &:hover {
      box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
a.badged-button {
  line-height: 36px;
}
.mat-icon-button {
  &.custom-icon-button {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: $white;
    cursor: pointer;
    padding-right: 10px;
    background: $primaryBtnBg;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
      font-size: 20px;
    }
    &:hover {
      background: $primaryBtnHoverBg;
    }
  }
  &.button-toggle {
    background-color: $buttonToggleColour;
  }
  i {
    &.icon {
      color: $iconColor;
    }
    &.rng-icon {
      color: $iconColor;
      &:hover {
        color: $dark;
      }
    }
  }
  &.mat-warn {
    i {
      &.icon {
        color: $red;
      }
      &.rng-icon {
        color: $red;
      }
    }
  }

  &.mat-accent {
    i {
      &.icon {
        color: $accent;
      }
      &.rng-icon {
        color: $accent;
      }
    }
  }
}

.mat-success {
  background-color: $success;
  color: white;
}

.mat-secondary {
  background-color: mat-color($poc-ng-accent, 100);
  color: $textColor;
}
