.cdk-overlay-pane {
  transition: width 1s ease-out;
  .mat-dialog-container {
    color: $textColor;
    padding: 0;
  }
  &.narrow-dialog-width {
    max-width: 340px !important;
    width: 340px;
    .mat-dialog-container {
      border-radius: 12px;
    }
  }
  &.normal-dialog-width,
  &.field-config-dialog-width {
    min-width: 720px;
    max-height: 90vh;
    @media screen and (max-width: 600px) {
      overflow: auto;
    }
    .mat-dialog-container {
      border-radius: 12px;
      @media screen and (max-width: 600px) {
        box-shadow: 0px 11px 11px -7px rgba(0, 0, 0, 0.2);
        margin: 12px;
      }
    }
  }
  &.field-config-dialog-width {
    width: 100%;
  }
  &.attachment-dialog-width {
    width: 80%;
  }
  &.fullscreen-dialog-width {
    max-width: 100% !important;
    width: 100%;
    height: 100vh;
    .mat-dialog-container {
      border-radius: 0;
      padding: 0;
    }
  }
}
.dialog {
  &.dialog_attachment_view {
    height: 85%;
    .dialog__content {
      height: 100%;
      margin: 20px;
    }
  }
  &.dialog_normal {
    header {
      height: 64px;
      display: flex;
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 2;
      h6 {
        color: $titleColor;
        // text-transform: uppercase;
        line-height: 64px;
        text-align: left;
        margin: 0;
        padding: 0 24px;
      }
    }
    .dialog__content {
      width: 100%;
      margin: 0 auto;
      padding: 0 24px;
    }
    footer {
      justify-content: center;
      display: flex;
      padding: 15px;
      position: sticky;
      bottom: 0;
      z-index: 2;
      background: #ffff;
    }
  }
  &.dialog_fullscreen {
    header {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: left;
      .mat-icon-button {
        margin: 12px;
      }
      h6 {
        color: $titleColor;
        line-height: 32px;
        margin: 0;
        padding: 0;
      }
    }
    .scroll {
      max-height: calc(100vh - 64px);
      position: relative;
    }
    .dialog__content {
      max-width: 848px;
      margin: 0 auto;
      padding: 48px 24px;
      section {
        padding-bottom: 48px;
        header {
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: left;
          margin-bottom: 12px;
          i.icon {
            color: $gray;
            margin-left: -48px;
            margin-right: 16px;
          }
          h6 {
            width: 424px;
            line-height: 28px;
            margin-left: 16px;
          }
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    button {
      margin-left: 24px;
    }
    a {
      margin: 0px !important;
    }
  }
}
