@import "scss/mixins";

// Tooltip
.p-tooltip .p-tooltip-text {
  font-size: var(--font-size-20);
  background-color: var(--dark-background-color);
}
.p-tooltip .p-tooltip-arrow {
  border-right-color: var(--dark-background-color);
}
// Error messages
.error,
.error-msg,
.p-error {
  @include font-subtitle();
  color: var(--color-error);
}
