@import "scss/mixins";

//$animVar: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$animVar: cubic-bezier(0.25, 0.8, 0.25, 1);
$animationTime: 0.175s;
@mixin animation($i: $animationTime) {
  -webkit-transition: all $i $animVar;
  -moz-transition: all $i $animVar;
  -o-transition: all $i $animVar;
  transition: all $i $animVar;
}

@mixin animationWidth($i: $animationTime) {
  -webkit-transition: width $i $animVar;
  -moz-transition: width $i $animVar;
  -o-transition: width $i $animVar;
  transition: width $i $animVar;
}

@mixin animationTop($i: $animationTime) {
  -webkit-transition: top $i $animVar;
  -moz-transition: top $i $animVar;
  -o-transition: top $i $animVar;
  transition: top $i $animVar;
}

@mixin animationPaddingTop($i: $animationTime) {
  -webkit-transition: padding-top $i $animVar;
  -moz-transition: padding-top $i $animVar;
  -o-transition: padding-top $i $animVar;
  transition: padding-top $i $animVar;
}

@mixin animationBottom($i: $animationTime) {
  -webkit-transition: bottom $i $animVar;
  -moz-transition: bottom $i $animVar;
  -o-transition: bottom $i $animVar;
  transition: bottom $i $animVar;
}

@mixin animationHeight($i: $animationTime) {
  -webkit-transition: height $i $animVar;
  -moz-transition: height $i $animVar;
  -o-transition: height $i $animVar;
  transition: height $i $animVar;
}

@mixin animationMaxHeight($i: $animationTime) {
  -webkit-transition: max-height $i $animVar;
  -moz-transition: max-height $i $animVar;
  -o-transition: max-height $i $animVar;
  transition: max-height $i $animVar;
}

@mixin animationMinHeight($i: $animationTime) {
  -webkit-transition: min-height $i $animVar;
  -moz-transition: min-height $i $animVar;
  -o-transition: min-height $i $animVar;
  transition: min-height $i $animVar;
}

$menuAnim: cubic-bezier(0.4, 0, 0.2, 1);
@mixin animationLeft($i: $animationTime) {
  -webkit-transition: left $i $menuAnim;
  -moz-transition: left $i $menuAnim;
  -o-transition: left $i $menuAnim;
  transition: left $i $menuAnim;
}

@mixin animationOpacity($i: $animationTime) {
  -webkit-transition: opacity $i linear;
  -moz-transition: opacity $i linear;
  -o-transition: opacity $i linear;
  transition: opacity $i linear;
}

@mixin text-overflow() {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin icon() {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: var(--font-size-60);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($string) {
  -webkit-transform: $string;
  -moz-transform: $string;
  -ms-transform: $string;
  -o-transform: $string;
  transform: $string;
}

@mixin zoom($_zoom) {
  @include transition(all 0.5s ease);
  @include transform(scale($_zoom));
}

@mixin overflowEllipse() {
  margin-bottom: var(--spacing-xs-sm);
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

@mixin inputPlaceholder() {
  ::-webkit-input-placeholder {
    /* Edge */
    color: #b1b8c1;
    font-weight: var(--font-weight-normal);
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1b8c1;
    font-weight: var(--font-weight-normal);
  }
  ::placeholder {
    color: #b1b8c1;
    font-weight: var(--font-weight-normal);
  }
}

@keyframes ani {
  0% {
    right: 15px;
  }
  50% {
    right: 25px;
  }
  100% {
    right: 15px;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  } /* more concise! */
  50% {
    opacity: 1;
  }
}

@mixin popover-container() {
  background: var(--dialog-background-color);
  box-shadow: var(--box-shadow-md);
  border-radius: var(--border-radius-sm);
  border: none;
}
@mixin popover-header() {
  padding: var(--spacing-sm) var(--spacing-sm);
  color: var(--primary-text-color);
  margin-bottom: var(--spacing-sm);
  @include font-title-secondary();
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--layout-border-color);
  .popover-title {
    width: 100%;
    display: flex;
    align-items: center;
    .title-container {
      width: 100%;
    }
    .icon-close {
      font-size: inherit;
      cursor: pointer;
    }
  }
}
@mixin pill() {
  .pill {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    text-transform: capitalize;
    @include font-title-fifth();
    width: 60px;
    text-align: center;
    color: var(--color-positive);
    background: var(--positive-background-color);
    border-radius: var(--border-radius-sm);
    &.negative {
      color: var(--color-negative);
      background: var(--negative-background-color);
    }
  }
}

@mixin nested-grid-container() {
  .container-title{
    display: flex;
    align-items: center;
  }
  .nested-grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    &.empty-child {
      position: relative;
      ::ng-deep {
        .container-help-text {
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: var(--font-size-30); //closest variable
          justify-content: center;
          color: var(--grey-color-700);
          position: absolute;
          z-index: 1;
          height: 100%;
          left: 0;
          right: 0;
          pointer-events: none;
        }
      }
    }
  }
}
