@import 'colors';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$poc-ng-primary: mat-palette($mat-primary);
$poc-ng-accent: mat-palette($mat-accent);
$poc-ng-success: mat-palette($mat-success);

// The warn palette is optional (defaults to red).
$poc-ng-warn: mat-palette($mat-warn);

// Create the theme object (a Sass map containing all of the palettes).
$poc-ng-theme: mat-light-theme($poc-ng-primary, $poc-ng-accent, $poc-ng-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($poc-ng-theme);
