@mixin body-1 {
  font-size: 15.8px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
@mixin body-2 {
  font-size: 13.82px;
  letter-spacing: 0.25px;
  line-height: 20px;
}
@mixin headline-5() {
  font-size: 23.48px;
  font-weight: 600;
  letter-spacing: 0;
}
@mixin headline-6() {
  text-transform: capitalize;
  white-space: pre-wrap;
  color: rgb(23, 37, 43);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  margin: 0px;
}
@mixin subtitle-1() {
  font-size: 15.8px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
@mixin caption() {
  font-size: 11.85px;
  letter-spacing: 0.4px;
  line-height: 16px;
}
@mixin button() {
  font-size: 13.7px;
  letter-spacing: 1.25px;
  line-height: 16px;
}
//pls note body-1 here not the same as body-1 mixin and global style.
//in current design body-1 is somewhat  bigger, than just regular font, body-2
$custom-typography: mat-typography-config(
  $font-family: 'Muli' Raleway 'Open sans',
  $body-1: mat-typography-level(13.82px, 20px, 400)
);
// // Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// @include mat-base-typography($custom-typography);

// // Override typography for a specific Angular Material components.
//@include mat-input-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
