<div [ngClass]="{
    'nested-grid-container': true,
    'empty-child': !item.children.length
  }" [ngStyle]="getGlobalStyles()" (click)="actionBtnClick($event, item)">

  <div *ngIf="item?.metaData?.title" class="container-title" [ngStyle]="getGlobalTitleStyle()">
    <i *ngIf="item?.metaData?.header?.icon" [class]="item?.metaData?.header?.icon" [ngStyle]="{
        color: item?.metaData?.header?.color,
        'font-size': item?.metaData?.header?.fontSize + 'px',
        'font-weight': 'inherit',
        marginRight: '0.5rem'
      }"></i>{{ item?.metaData?.title }}
  </div>
  <finlevit-grid
        [viewMode]="viewMode"
        [showEdit]="showEdit"
        [parent]="item"
        [items]="item.children"
        (onBtnClick)="onBtnClick.emit($event)"
        (onTableDataChange)="onTableDataChange.emit($event)"
        (onOptionChange)="optionChange($event, $event.data)"
      ></finlevit-grid>
</div>