.nested-grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    &.empty-child {
      position: relative;
      ::ng-deep {
        .container-help-text {
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: var(--font-size-30); //closest value
          justify-content: center;
          color: gray;
          position: absolute;
          z-index: 1;
          height: 100%;
          left: 0;
          right: 0;
          pointer-events: none;
        }
      }
    }
    .container-title {
      height: 40px;
      background-color: lightgray;
      font-style: normal;
      font-weight: var(--font-weight-bolder);
      font-size: var(--font-size-20);
      display: flex;
      align-items: center;
      line-height: var(--font-line-height-30);
      letter-spacing: 0.03em;
      color: gray;
      padding-left: calc(var(--spacing-md) + 2px);
      padding-right: calc(var(--spacing-md) + 2px);
      border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    }
    ::ng-deep {
      gridster {
        background: $white-100;
      }
      .card-container {
        height: 100%;
        // border: 1px solid #dddddd;
        gridster {
          background: $white-100;
        }
      }
    }
    &.footer-container {
      ::ng-deep {
        gridster {
          background: #31383e;
          color: $white-100;
        }
      }
    }
  }
.cursor-pointer{
  cursor: pointer;
}
