<div
  [ngClass]="{
    'nested-grid-container': true,
    'empty-child': !item.children.length,
    'cursor-pointer': item?.metaData?.onClickConfigs?.length
  }"
  applyStyle
  [filterStyles]="['borderStyles', 'boxShadowStyles']"
  [styleProperties]="itemStyleProperties?.properties"
>
  <div
    *ngIf="item?.metaData?.title"
    class="container-title"
    applyStyle
    [filterStyles]="['titleStyles']"
    [styleProperties]="itemStyleProperties?.properties"
  >
    <finlevit-icon-preview class="pr-2" [icon]="metaData.icon"></finlevit-icon-preview>
    {{ item?.metaData?.title }}
  </div>
  <finlevit-grid
    [parent]="item"
    [items]="item.children"
    [style.--border-radius-top-left]="item?.metaData?.title ? '0px' : itemStyleProperties?.properties?.borderRadius"
    [style.--border-radius-top-right]="item?.metaData?.title ? '0px' : itemStyleProperties?.properties?.borderRadius"
    [style.--border-radius-bottom-left]="itemStyleProperties?.properties?.borderRadius"
    [style.--border-radius-bottom-right]="itemStyleProperties?.properties?.borderRadius"
    [style.--background-color]="itemStyleProperties?.properties?.backgroundColor"
    [style.--background-image-url]="'url(' + itemStyleProperties?.properties?.bgImageUrl + ')'"
    [filter]="{ metaData: { isFooterContainer: false } }"
  ></finlevit-grid>
</div>
