<div
  [ngClass]="{
    'nested-grid-container': true,
    'empty-child': !item.children.length,
    'cursor-pointer': item?.metaData?.onClickConfigs?.length > 0 && item?.metaData?.onClickConfigs[0]?.action !== 'none'
  }"
  (click)="actionBtnClick($event, item)"
>
  <div *ngIf="item?.metaData?.title" class="container-title" [ngStyle]="getGlobalTitleStyle()">
    <i
      *ngIf="item?.metaData?.header?.icon"
      [class]="item?.metaData?.header?.icon"
      [ngStyle]="{
        color: item?.metaData?.header?.color,
        'font-size': item?.metaData?.header?.fontSize + 'px',
        'font-weight': 'inherit',
        marginRight: '0.5rem'
      }"
    ></i
    >{{ item?.metaData?.title }}
  </div>
  <finlevit-grid [parent]="item" [items]="item.children"></finlevit-grid>
</div>
