<button
  (click)="toggleModal()"
  [ngStyle]="{
    width: '100%',
    height: '100%',
    color: metaData?.color,
    backgroundColor: metaData.bgColor,
    border: 'none',
    borderRadius: '4px'
  }"
>
  {{ item?.label }}
</button>
<p-dialog
  appendTo="body"
  [blockScroll]="false"
  [draggable]="false"
  [resizable]="false"
  [style]="{ height: metaData.height, width: metaData.width }"
  styleClass="field-modal"
  contentStyleClass="field-modal-content"
  [modal]="true"
  [header]="metaData?.title"
  [(visible)]="modalStatus"
  [autoZIndex]="false"
  (onShow)="onShow($event)"
>
  <finlevit-grid
    [viewMode]="viewMode"
    [showEdit]="showEdit"
    [parent]="item"
    (onBtnClick)="onBtnClick.emit($event)"
    (onTableDataChange)="onTableDataChange.emit($event)"
    (onOptionChange)="optionChange($event, $event.data)"
    [items]="item.children"
  ></finlevit-grid>
</p-dialog>
