<finlevit-button
  [icon]="metaData?.icon"
  [iconPos]="metaData?.iconPos"
  [label]="item?.label"
  [type]="metaData?.type"
  (btnClick)="toggleModal()"
  [bgColor]="styles?.properties?.backgroundColor"
  [borderColor]="styles?.properties?.borderColor"
  [style.--button-border]="styles?.properties?.borderStyle"
  [style.--button-border-radius]="styles?.properties?.borderRadius"
  [style.--button-label-font-weight]="styles?.properties?.fontWeight"
  [style.--button-label-font-style]="styles?.properties?.fontStyle"
  [style.--button-label-text-decoration]="styles?.properties?.textDecoration"
  [color]="styles?.properties?.labelColor"
  [style.--button-label-font-family]="styles?.properties?.labelFontStyle"
  [style.--button-label-align]="styles?.properties?.labelAlignment"
  [style.--button-border-width]="styles?.properties?.borderWidth"
  [style.--button-label-font-size]="styles?.properties?.labelFontSize"
  [style.--button-border-top]="styles?.properties?.borderTopStyle"
  [style.--button-border-radius-top-left]="styles?.properties?.borderTopLeftRadius"
  [borderTopColor]="styles?.properties?.borderTopColor"
  [style.--button-border-top-width]="styles?.properties?.borderTopWidth"
  [style.--button-border-right]="styles?.properties?.borderRightStyle"
  [style.--button-border-radius-top-right]="styles?.properties?.borderTopRightRadius"
  [borderRightColor]="styles?.properties?.borderRightColor"
  [style.--button-border-right-width]="styles?.properties?.borderRightWidth"
  [style.--button-border-bottom]="styles?.properties?.borderBottomStyle"
  [style.--button-border-radius-bottom-right]="styles?.properties?.borderBottomRightRadius"
  [borderBottomColor]="styles?.properties?.borderBottomColor"
  [style.--button-border-bottom-width]="styles?.properties?.borderBottomWidth"
  [style.--button-border-left]="styles?.properties?.borderLeftStyle"
  [style.--button-border-radius-bottom-left]="styles?.properties?.borderBottomLeftRadius"
  [borderLeftColor]="styles?.properties?.borderLeftColor"
  [style.--button-border-left-width]="styles?.properties?.borderLeftWidth"
  [independentBorders]="styles?.properties?.independentBorder"
  [variant]="styles?.properties?.variant"
></finlevit-button>
<p-dialog
  appendTo="body"
  [blockScroll]="false"
  [draggable]="false"
  [resizable]="false"
  [style]="{ height: metaData.height, width: metaData.width, 'flex-grow': 'inherit' }"
  [styleClass]="item?.metaData?.widgetId + ' activeModal'"
  contentStyleClass="field-modal-content"
  [modal]="true"
  [(visible)]="modalStatus"
  [autoZIndex]="false"
  [closeOnEscape]="true"
  (onShow)="onShow($event)"
  (onHide)="onHide($event)"
>
  <ng-template pTemplate="header">
    <div
      [class]="'header-content'"
      [style]="{
        height: metaData?.modalHeader[0]?.headerHeight + 'px',
        'background-color': styles?.properties?.headerBackgroundColor,
        'font-family': styles?.properties?.headerFontFamily,
        color: styles?.properties?.headerLabelColor,
        'font-size': styles?.properties?.headerFontSize,
        'font-weight': styles?.properties?.labelFontWeight,
        'font-style': styles?.properties?.labelStyle,
        'text-decoration': styles?.properties?.labelTextDecoration
      }"
    >
      {{ metaData?.modalHeader[_selectedIndex]?.title }}
    </div>
  </ng-template>
  <div
    [class]="'modalcontent modal' + item?.metaData?.widgetId"
    [style]="{
      'background-color': styles?.properties?.contentBackgroundColor
    }"
  >
    <finlevit-grid
      [viewMode]="viewMode"
      [showEdit]="showEdit"
      [parent]="item.children[_selectedIndex]"
      (onBtnClick)="onBtnClick.emit($event)"
      (onTableDataChange)="onTableDataChange.emit($event)"
      (onOptionChange)="optionChange($event, $event.data)"
      (checkHeight)="checkHeight()"
      [items]="subchild"
    ></finlevit-grid>
  </div>
  <ng-template pTemplate="footer">
    <div
      [ngClass]="{ 'footer-content': true }"
      [style]="{
        'background-color': styles?.properties?.footerBackgroundColor,
        height: metaData?.footerHeight + 'px'
      }"
    >
      <ng-container>
        <finlevit-grid
          [viewMode]="viewMode"
          [showEdit]="showEdit"
          [parent]="item.children[_selectedIndex].children"
          [items]="item.children[_selectedIndex]?.children[0].children"
          (onBtnClick)="onFooterClick($event)"
          (onTableDataChange)="onTableDataChange.emit($event)"
          (onOptionChange)="optionChange($event, $event.data)"
          [style]="{ width: '100%', 'background-color': styles?.properties?.footerBackgroundColor }"
        ></finlevit-grid>
      </ng-container>
    </div>
  </ng-template>
</p-dialog>
