<div
  class="image-container"
  *ngIf="metaData?.source === 'Remote'"
  [style.justify-content]="metaData?.position === 'Contain' ? metaData?.horizontalAlign : 'center'"
>
  <img
    *ngIf="metaData?.url"
    [src]="metaData?.url"
    alt="{{ metaData?.altText }}"
    [ngClass]="{ 'cursor-pointer': item?.metaData?.onClickConfigs?.length }"
    [style.width]="metaData?.position === 'Cover' || metaData?.shorterEdge === 'width' ? '100%' : ''"
    [style.height]="metaData?.position === 'Cover' || metaData?.shorterEdge === 'height' ? '100%' : ''"
    [style.aspect-ratio]="metaData?.position === 'Contain' ? 'inherit' : ''"
    applyStyle
    [filterStyles]="['borderStyles', 'boxShadowStyles']"
    [styleProperties]="this.item?.metaData?.styleProperties?.properties"
  />
</div>
<div
  class="image-container"
  *ngIf="metaData?.source === 'Local'"
  [style.justify-content]="metaData?.position === 'Contain' ? metaData?.horizontalAlign : 'center'"
>
  <img
    *ngIf="metaData?.remoteKey"
    [src]="getImageUrl + '/' + metaData?.remoteKey"
    crossorigin="use-credentials"
    alt="{{ metaData?.altText }}"
    [ngClass]="{ 'cursor-pointer': item?.metaData?.onClickConfigs?.length }"
    [style.width]="metaData?.position === 'Cover' || metaData?.shorterEdge === 'width' ? '100%' : ''"
    [style.height]="metaData?.position === 'Cover' || metaData?.shorterEdge === 'height' ? '100%' : ''"
    [style.aspect-ratio]="metaData?.position === 'Contain' ? 'inherit' : ''"
    applyStyle
    [filterStyles]="['borderStyles', 'boxShadowStyles']"
    [styleProperties]="this.item?.metaData?.styleProperties?.properties"
  />
</div>
