<gridster
  #gridsterComponent
  [options]="options"
  [ngClass]="{
    'display-grid': false,
    'finlevit-grid': true
  }"
>
  <ng-container *ngFor="let item of items | searchFilter: filter; let i = index">
    <gridster-item
      [ngClass]="{
        'card-container': item?.metaData?.widgetType === Container,
        'tab-container': item?.metaData?.widgetType === TabContainer,
        'text-container': item?.metaData?.widgetType === Text,
        'header-container': item?.metaData?.widgetType === Header,
        'footer-container': item?.metaData?.widgetType === Footer,
        'button-container': item?.metaData?.widgetType === Button,
        'modal-container': item?.metaData?.widgetType === Modal,
        'display-none': !item?.rows,
        'hidden-container': item?.metaData?.isHidden
      }"
      [item]="item"
    >
      <app-payload-form-field
        [options]="item?.metaData?.options"
        [item]="item"
        [value]="item?.value"
        [emitButtonEvent]="emitButtonEvent"
        (onBtnClick)="onBtnClick.emit($event)"
        (click)="widgetClickHandler($event, item)"
      ></app-payload-form-field>
    </gridster-item>
  </ng-container>
</gridster>
