:host {
  --background-color: var(--grey-color-400);
  --border-radius: 0px;
  --border-radius-top-left: var(--border-radius);
  --border-radius-top-right: var(--border-radius);
  --border-radius-bottom-left: var(--border-radius);
  --border-radius-bottom-right: var(--border-radius);
  --background-image-url: "";
  height: 100%;
  ::ng-deep {
    .gridster-column {
      width: 2px !important;
      border: none;
      border-left: 1px solid var(--grey-color-600);
    }
    .gridster-row {
      border: none;
      border-top: 1px solid var(--grey-color-600);
    }
  }
  // To show box shadow
  .card-container,
  .tab-container,
  .header-container,
  .footer-container,
  .button-container,
  .modal-container {
    overflow: visible;
    &.hidden-container {
      overflow: hidden;
    }
  }
  gridster {
    display: flex;
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius-top-left) var(--border-radius-top-right) var(--border-radius-bottom-left)
      var(--border-radius-bottom-right);
    background-image: var(--background-image-url);
    background-size: cover;
    overflow: auto;
  }
}
