<div
  [ngClass]="{
    'input-container': true
  }"
>
  <finlevit-custom-table
    [columns]="item?.metaData?.columns"
    [actions]="item?.metaData?.actions"
    [rows]="item?.rows"
    [tableData]="tableData"
    [isServerSidePagination]="true"
    [showPageOptions]="false"
    [totalRecords]="totalRecords"
    [addRows]="item?.metaData?.addRows"
    [filter]="item?.metaData?.filter"
    [sort]="item?.metaData?.sort"
    [fixedRecordsPerPage]="0"
    [overflowType]="item?.metaData?.overflow"
    [paginatorPosition]="item?.metaData?.paginatorPosition"
    [hideHeader]="item?.metaData?.hideHeader"
    [saveBtnProperties]="item?.metaData?.saveBtnProperties"
    [cancelBtnProperties]="item?.metaData?.cancelBtnProperties"
    [horizontalBorder]="item?.metaData?.horizontalBorder"
    [verticalBorder]="item?.metaData?.verticalBorder"
    (onRowClick)="onRowClick($event)"
    (onPageChange)="onPageChange($event)"
    [isColumnEdit]="true"
    applyStyleVariables
    styleType="table"
    [styleProperties]="item?.metaData?.styleProperties?.properties"
  ></finlevit-custom-table>
</div>
<app-loader [loading]="loading"></app-loader>
