@import "scss/mixins";

:host {
  //Header
  --header-search-cell-background-color: var(--primary-background-color);
  --header-cell-background-color: var(--grey-color-300);
  --header-cell-color: var(--primary-text-color);
  --header-font-size: var(--font-size-h5);
  --header-font-weight: var(--font-weight-bolder);
  --header-line-height: var(--font-line-height-h5);
  --header-cell-font-family: var(--font-family);
  --header-font: var(--header-font-weight) var(--header-font-size) / var(--header-line-height)
    var(--header-cell-font-family);

  --header-cell-hover-background-color: var(--secondary-background-color);
  --header-cell-hover-color: var(--primary-text-color);

  --header-cell-padding-top: var(--spacing-xs);
  --header-cell-padding-bottom: var(--spacing-xs);
  --header-cell-padding-left: var(--spacing-md);
  --header-cell-padding-right: var(--spacing-md);
  --header-height: 26px;
  // Header Hover
  --header-hover-cell-background-color: var(--grey-color-400);
  // Body
  --body-cell-background-color: var(--primary-background-color);
  --body-cell-color: var(--primary-text-color);
  --body-font-size: var(--font-size-paragraph);
  --body-font-weight: var(--font-weight-normal);
  --body-line-height: var(--font-line-height-paragraph);
  --body-row-height: 40px;
  --body-cell-font-family: var(--font-family);
  --body-font: var(--body-font-weight) var(--body-font-size) / var(--body-line-height) var(--body-cell-font-family);

  --body-cell-hover-background-color: var(--secondary-background-color);
  --body-cell-hover-color: var(--primary-text-color);

  --body-cell-padding: var(--spacing-xs) var(--spacing-md);

  --paginator-height: 30px;
  --paginator-background-color: var(--grey-color-200);
  --paginator-color: var(--primary-text-color);
  --paginator-font-family: inherit;
  --paginator-font-size: var(--font-size-h5);
  --paginator-line-height: var(--font-line-height-h5);
  --paginator-font-weight: var(--font-weight-bold);
  --paginator-font: var(--paginator-font-weight) var(--paginator-font-size) / var(--paginator-line-height)
    var(--paginator-font-family);

  --table-border-color: var(--ui-border-color-light);

  --table-header-right-border-color: var(--table-border-color);
  --table-header-bottom-border-color: var(--table-border-color);
  --table-cell-right-border-color: var(--table-border-color);
  --table-cell-bottom-border-color: var(--table-border-color);

  --table-border-width: 1px;
  --table-border-radius: 1px;
  --table-border-style: solid;

  --input-focus-border-color: var(--primary-color);

  .table-widget {
    width: 100%;
    height: 100%;
  }
  .finlevit-table {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
    border-radius: var(--table-border-radius);
    @include box-shadow-xs();
    &.pagination-bottom {
      flex-direction: column;
    }
    &.pagination-top {
      flex-direction: column-reverse;
    }
  }
  .finlevit-table .f-table {
    flex: auto 1;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow: auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .finlevit-table .f-thead {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    user-select: none;
    margin-top: -1px;
    border-bottom: 1px solid var(--table-header-bottom-border-color);
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .finlevit-table .f-thead .f-tr {
    &.f-tr-search {
      border-bottom: 1px solid var(--table-header-bottom-border-color);
      .f-th {
        background-color: var(--header-search-cell-background-color);
      }
    }
  }
  .finlevit-table .f-tr {
    flex: 1 0 auto;
    display: inline-flex;
  }
  .finlevit-table .f-tbody {
    flex: 99999 1 auto;
    display: flex;
    flex-direction: column;
    background: var(--body-cell-background-color);
    color: var(--body-cell-color);
    overflow: auto;
    font-family: var(--body-cell-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    &.edit-row-exists {
      .f-tr-group {
        &:not(.edit-row) {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
  .f-table .f-tbody .f-tr-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 0 auto;
    .f-tr {
      height: var(--body-row-height);
    }
    &:hover {
      cursor: pointer;
      background: var(--body-cell-hover-background-color);
      color: var(--body-cell-hover-color);
    }
    &:last-of-type {
      .cell-container {
        border-bottom: none !important;
      }
    }
  }
  .finlevit-table .f-thead .f-tr:not(.f-tr-search) .f-th {
    .f-resizer {
      position: absolute;
      top: 0;
      bottom: 0;
      background: black;
      opacity: 0;
      width: 10px;
      right: 0;
      cursor: col-resize;
      &:hover {
        opacity: 0.1;
      }
    }
  }
  .finlevit-table .f-thead .f-tr .f-th {
    padding: var(--header-cell-padding-top) var(--header-cell-padding-right) var(--header-cell-padding-bottom)
      var(--header-cell-padding-left);
    position: relative;
    border-right: 1px solid var(--table-header-right-border-color);
    &:last-of-type {
      border-right: none !important;
    }
    cursor: pointer;
    background-color: var(--header-cell-background-color);
    color: var(--header-cell-color);
    font-family: var(--header-cell-font-family);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    height: var(--header-height);
    .f-resizable-header-content {
      width: 100%;
      text-align: left;
      display: inline-block;
      .f-column-header-name {
        &.left {
          text-align: left;
        }
        &.right {
          text-align: right;
        }
        &.center {
          text-align: center;
        }
      }
    }
    &:last-of-type {
      border-right: none;
    }
    &:hover,
    &.sorted {
      background-color: var(--header-hover-cell-background-color);
    }
  }
  .finlevit-table .cell-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--table-cell-bottom-border-color);
    border-right: 1px solid var(--table-cell-right-border-color);
  }
  .finlevit-table .f-tbody .f-td:last-of-type {
    .cell-container {
      border-right: none !important;
    }
  }
  .inner-cell-container {
    width: 100%;
    padding: var(--body-cell-padding);
    overflow: hidden;
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
    &.center {
      text-align: center;
    }
  }
  .table-row-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    .row-actions {
      width: 100%;
      display: flex;
    }
    .edit-action,
    .save-action,
    .cancel-action,
    .delete-action {
      margin: 0 0.5rem;
      .delete-icon {
        color: var(--color-error);
      }
    }
    .edit-action-mode,
    .new-action-mode {
      .save-icon {
        color: var(--primary-color);
        margin: 0 0.5rem;
      }
      .cancel-icon {
        color: var(--color-error);
        margin: 0 0.5rem;
      }
      .delete-icon {
        color: var(--color-error);
      }
    }
  }
  .pagination-bottom {
    .-pagination {
      border-bottom-width: 1px;
      border-top: 1px solid var(--table-border-color);
      margin-top: -1px;
      border-bottom-color: transparent;
    }
  }
  .pagination-top {
    .-pagination {
      border-top-width: 1px;
      border-bottom: 1px solid solid var(--table-border-color);
      border-top-color: transparent;
    }
  }
  .table-widget .-pagination {
    position: relative;
    z-index: 1;
    display: none;
    justify-content: space-between;
    text-align: center;
    box-shadow: none;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-md);
    color: var(--paginator-color);
    background-color: var(--paginator-background-color);
    font-size: var(--paginator-font-size);
    font-weight: var(--paginator-font-weight);
    line-height: var(--paginator-line-height);
    height: var(--paginator-height);
    .table-results-counter {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-right: var(--spacing-sm);
    }
    .-previous,
    .-next {
      flex: 1;
      text-align: center;
    }
    .-center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      flex: 1.5;
      text-align: center;
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      display: none;
      &.show-pagination {
        display: flex;
      }
    }
    .-pageInfo {
      display: inline-block;
      margin: 3px 10px;
      white-space: nowrap;
    }
    .-pageJump {
      display: inline-block;
    }
    .page-input {
      width: 24px;
      text-align: center;
      margin-right: var(--spacing-xs);
      border: 1px solid var(--ui-border-color);
      border-radius: var(--border-radius-sm);
      outline: none;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        border-color: var(--input-focus-border-color);
        box-shadow: var(--primary-box-shadow-sm);
      }
    }
    .footer-btn {
      border: none;
      display: flex;
      align-items: center;
      background-color: inherit;
    }
    .table-actions {
      display: flex;
    }
    .-left {
      ::ng-deep {
        .p-button {
          padding: 0.1375rem 0.65625rem;
        }
      }
    }
    &.table-footer {
      display: flex;
    }
  }
  .-page-limit {
    width: 45px;
    margin-right: 1rem;
    ::ng-deep {
      .f-input .f-input-container {
        height: 19px;
        width: 50px;
      }
      .p-dropdown-label {
        padding: 0.2rem 0.3rem;
        color: var(--paginator-color);
      }
      .p-dropdown-trigger {
        width: 1rem;
        color: var(--paginator-color);
        .p-dropdown-trigger-icon {
          font-size: 0.8em;
        }
      }
    }
  }
  ::ng-deep {
    .field,
    .field-checkbox {
      margin-bottom: 0;
    }
    .inputtext:enabled:focus {
      box-shadow: none;
    }
  }
  .hide-footer-cell-actions {
    display: flex;
    padding: 4px 12px;
    color: var(--paginator-color);
    background-color: var(--paginator-background-color);
  }
}
.no-data-container {
  background-image: url("/assets/images/nodata-found.png");
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
//Advance table cell checkbox align center
.table-cell-checkbox {
  ::ng-deep {
    .f-label-right {
      justify-content: center !important;
    }
  }
}
