<finlevit-lib-checkbox-group
  [isDisabled]="isDisabled"
  [columns]="columns"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  [items]="item?.metaData?.options"
  [optionLabel]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionLabel : 'name'"
  [optionValue]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionValue : 'name'"
  [tooltip]="item?.metaData?.tooltip"
  [(ngModel)]="item.value.value"
  (ngModelChange)="onChange($event); validateField($event, item)"
  [alignOptions]="item?.metaData?.alignOptions"
  [labelPos]="itemStyleProperties?.properties?.labelPosition"
  [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
  [showErrorMsg]="!!(item?.errorMessage || item?.metaData?.showErrorMessage)"
  [error]="item?.errorMessage?.length > 0 || item.error === true"
  [allowLabelWrapping]="item?.metaData?.allowLabelWrapping"
  applyStyleVariables
  styleType="checkboxGroup"
  size="custom"
  [styleProperties]="itemStyleProperties?.properties"
></finlevit-lib-checkbox-group>
