<finlevit-lib-checkbox-group
  [isDisabled]="isDisabled"
  [columns]="columns"
  (ngModelChange)="onChange($event)"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  [items]="item?.metaData?.options"
  [optionLabel]="
    item?.metaData?.isLabelAndValue || item?.metaData?.optionType === 'dataresource'
      ? item?.metaData?.optionLabel
      : 'name'
  "
  [optionValue]="
    item?.metaData?.isLabelAndValue || item?.metaData?.optionType === 'dataresource'
      ? item?.metaData?.optionValue
      : 'name'
  "
  [tooltip]="item?.metaData?.tooltip"
  [(ngModel)]="item.value.value"
  [alignOptions]="item?.metaData?.alignOptions"
  [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
  [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
  [showErrorMsg]="item?.metaData?.showErrorMessage"
  [allowLabelWrapping]="item?.metaData?.allowLabelWrapping"
  applyStyleVariables
  styleType="checkboxGroup"
  size="custom"
  [styleProperties]="item?.metaData?.styleProperties?.properties"
></finlevit-lib-checkbox-group>
