<finlevit-lib-checkbox-group
  [isDisabled]="isDisabled"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  [items]="item?.metaData?.options"
  [optionLabel]="
    item?.metaData?.isLabelAndValue || item?.metaData?.optionType === 'dataresource'
      ? item?.metaData?.optionLabel
      : 'name'
  "
  [optionValue]="
    item?.metaData?.isLabelAndValue || item?.metaData?.optionType === 'dataresource'
      ? item?.metaData?.optionValue
      : 'name'
  "
  [tooltip]="item?.metaData?.tooltip"
  [(ngModel)]="item.value.value"
  (ngModelChange)="onChange($event)"
  [alignOptions]="item?.metaData?.alignOptions"
  [style.--input-unchecked-background-color]="uncheckedBackgroundColor"
  [style.--input-unchecked-border-color]="uncheckedBorderColor"
  [style.--input-checked-background-color]="checkedBackgroundColor"
  [style.--input-checked-border-color]="checkedBorderColor"
  [style.--input-check-icon-color]="checkIconColor"
  [style.--input-label-font-weight]="labelFontWeight"
  [style.--input-label-font-style]="labelStyle"
  [style.--input-label-text-decoration]="labelTextDecoration"
  [style.--input-label-color]="labelColor"
  [style.--input-label-font-family]="labelFontStyle"
  [style.--input-label-font-size]="labelFontSize"
  [style.--input-word-spacing]="wordSpacing"
  [style.--input-letter-spacing]="letterSpacing"
  [style.--input-flex-direction]="checkboxAlign"
  [columns]="columns"
  [style.--input-color]="textColor"
  [style.--input-label-width]="labelWidth + '%'"
  [style.--input-font-family]="textFontStyle"
  [style.--input-font-size]="fontSize"
  [style.--input-line-spacing]="lineSpacing"
  [style.--input-font-weight]="fontWeight"
  [style.--input-font-style]="fontStyle"
  [style.--input-text-decoration]="textDecoration"
  [style.--input-checkbox-size]="checkboxSize"
  [labelPos]="labelPosition"
  [allowLabelWrapping]="allowLabelWrapping"
  [style.--input-label-align]="labelAlignment"
  [errorMsg]="errorMessage"
  [showErrorMsg]="showErrorMessage"
  [style.--input-options-padding]="optionPaddingBottom"
></finlevit-lib-checkbox-group>
