<finlevit-text
  [isDisabled]="isDisabled"
  [leftIcon]="item?.metaData?.leftIcon"
  [rightIcon]="item?.metaData?.rightIcon"
  [error]="item?.error == true"
  [tooltip]="item?.metaData?.tooltip"
  [placeholder]="item?.metaData?.placeholder"
  [(ngModel)]="item.value.value"
  (ngModelChange)="validateField($event)"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  (onBlur)="optionChange($event)"
  [type]="_type"
  [pattern]="item?.validators?.pattern || null"
  (onRightIconClick)="onRightIconClick(item?.metaData)"
  [showClearButton]="item?.metaData?.showClearButton"
  [prefixText]="item?.metaData?.prefixText"
  [suffixText]="item?.metaData?.suffixText"
  [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
  [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
  [showErrorMsg]="item?.metaData?.showErrorMessage"
  size="custom"
  applyStyleVariables
  styleType="input"
  [styleProperties]="item?.metaData?.styleProperties?.properties"
></finlevit-text>
