<finlevit-text
[isDisabled]="isDisabled"
[leftIcon]="item?.metaData?.leftIcon"
[rightIcon]="item?.metaData?.rightIcon"
[error]="item?.error == true"
[errorMsg]="item?.errorMsg"
[tooltip]="item?.metaData?.tooltip"
[placeholder]="item?.metaData?.placeholder"
[(ngModel)]="item.value.value"
(ngModelChange)="validateField($event)"
[isRequired]="item?.validators?.required"
[label]="item?.label"
(onBlur)="optionChange($event)"
[type]="_type"
[pattern]="item?.validators?.pattern || null"
(onRightIconClick)="item?.metaData?.widgetType==='PasswordInput'?onRightIconClick(item?.metaData):null"
></finlevit-text>