<div
  class="tab-container style-tab-container"
  applyStyle
  [filterStyles]="['borderStyles', 'boxShadowStyles']"
  [styleProperties]="this.item?.metaData?.styleProperties?.properties"
  [style.--border-radius]="this.item?.metaData?.styleProperties?.properties?.borderRadius"
>
  <p-tabView [activeIndex]="tabActiveIndex" (onChange)="onTabChange($event)">
    <ng-container *ngFor="let child of item?.children; let i = index">
      <p-tabPanel *ngIf="!child?.metaData?.isHidden" [header]="child.label">
        <ng-template pTemplate="header">
          <finlevit-icon-preview
            [style.--icon-color]="child?.metaData?.icon?.color"
            class="p-pr-1 mr-2 d-flex"
            [icon]="child?.metaData?.icon"
          ></finlevit-icon-preview>
          <span>{{ child.label }}</span>
          <finlevit-icon-preview
            [style.--icon-color]="child?.metaData?.icon?.color"
            class="p-pr-1 ml-2 d-flex"
            [icon]="child?.metaData?.suffixIcon"
          ></finlevit-icon-preview>
        </ng-template>
        <div
          [ngClass]="{
            'nested-grid-container': true,
            'empty-child': !child?.children.length
          }"
        >
          <finlevit-grid
            [parent]="child"
            [items]="child?.children"
            [style.--background-color]="this.item.metaData?.styleProperties?.properties?.backgroundColor"
          ></finlevit-grid>
        </div>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</div>
