<ng-container *ngIf="align === cellAlignmentTypes.LEFT || cellAlignmentTypes.CENTER">
  <ng-content></ng-content>
  <ng-container *ngIf="sortEligible">
    <i
      [ngClass]="{
        right: align === cellAlignmentTypes.RIGHT,
        left: align === cellAlignmentTypes.LEFT,
        'sort-icon pi pi-arrow-up': true
      }"
      *ngIf="sorter?.active === ref && sorter?.direction === 'asc'"
    ></i>
    <i
      [ngClass]="{
        right: align === cellAlignmentTypes.RIGHT,
        left: align === cellAlignmentTypes.LEFT,
        'sort-icon pi pi-arrow-down': true
      }"
      *ngIf="sorter?.active === ref && sorter?.direction === 'desc'"
    ></i>
  </ng-container>
</ng-container>
