<finlevit-mask-text
  [isDisabled]="isDisabled"
  [leftIcon]="item?.metaData?.leftIcon"
  [rightIcon]="item?.metaData?.rightIcon"
  [error]="item?.error === true"
  [tooltip]="item?.metaData?.tooltip"
  [placeholder]="item?.metaData?.placeholder"
  [ngModel]="item.value.value | toSSNFormat"
  (ngModelChange)="item.value.value = $event; validateField($event)"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  (onBlur)="optionChange($event)"
  [pattern]="item?.validators?.pattern || null"
  [mask]="_type_mask"
  (onRightIconClick)="onRightIconClick(item?.metaData)"
  [hiddenInput]="true"
  [allowLabelWrapping]="item?.metaData?.allowLabelWrapping"
  [showClearButton]="item?.metaData?.showClearButton"
  [prefixText]="item?.metaData?.prefixText"
  [suffixText]="item?.metaData?.suffixText"
  [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
  [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
  [showErrorMsg]="item?.metaData?.showErrorMessage"
  applyStyleVariables
  styleType="input"
  [styleProperties]="item?.metaData?.styleProperties?.properties"
></finlevit-mask-text>
