<finlevit-text
[isDisabled]="isDisabled"
[leftIcon]="item?.metaData?.leftIcon"
[rightIcon]="item?.metaData?.rightIcon"
[error]="item?.error == true"
[tooltip]="item?.metaData?.tooltip"
[placeholder]="item?.metaData?.placeholder"
[(ngModel)]="item.value.value"
(ngModelChange)="validateField($event)"
[isRequired]="item?.validators?.required"
[label]="item?.label"
(onBlur)="optionChange($event)"
[pattern]="item?.validators?.pattern || null"
[mask] = "item?.metaData?.mask || null"
[style.--input-color]="textColor"
[style.--input-text-align]="textHorizontalAlign"
[style.--input-background-color]="backgroundColor"
[style.--input-border-color]="borderColor"
[style.--input-font-family]="textFontStyle"
[style.--input-border]="borderStyle"
[style.--input-border-radius]="borderRadius"
[style.--input-font-size]="fontSize"
[style.--input-word-spacing]="wordSpacing"
[style.--input-letter-spacing]="letterSpacing"
[style.--input-line-spacing]="lineSpacing"
[style.--input-font-weight]="fontWeight"
[style.--input-font-style]="fontStyle"
[style.--input-text-decoration]="textDecoration"
[style.--input-label-color]="labelColor"
[style.--input-label-font-family]="labelFontStyle"
[style.--input-label-align]="labelAlignment"
[style.--input-adornment-background-color]="adornmentBackgroundColor"
[style.--input-border-width]="borderWidth"
[style.--input-label-font-size]="labelFontSize"
[style.--input-label-width]="labelWidth"
[style.--input-border-top]="borderTopStyle"
[style.--input-border-radius-top-left]="borderTopLeftRadius"
[style.--input-border-top-color]="borderTopColor"
[style.--input-border-top-width]="borderTopWidth"
[style.--input-border-right]="borderRightStyle"
[style.--input-border-radius-top-right]="borderTopRightRadius"
[style.--input-border-right-color]="borderRightColor"
[style.--input-border-right-width]="borderRightWidth"
[style.--input-border-bottom]="borderBottomStyle"
[style.--input-border-radius-bottom-right]="borderBottomRightRadius"
[style.--input-border-bottom-color]="borderBottomColor"
[style.--input-border-bottom-width]="borderBottomWidth"
[style.--input-border-left]="borderLeftStyle"
[style.--input-border-radius-bottom-left]="borderBottomLeftRadius"
[style.--input-border-left-color]="borderLeftColor"
[style.--input-border-left-width]="borderLeftWidth"
[independentBorders]="independentBorder"
[allowLabelWrapping]="allowLabelWrapping"
[showClearButton]="showClearButton"
[prefixText]="prefixText"
[suffixText]="suffixText"
[labelPos]="labelPosition"
[errorMsg]="errorMessage"
[showErrorMsg]="showErrorMessage"
></finlevit-text>
