<finlevit-mask-text
  [isDisabled]="isDisabled"
  [leftIcon]="item?.metaData?.leftIcon"
  [rightIcon]="item?.metaData?.rightIcon"
  [error]="item?.error === true"
  [tooltip]="item?.metaData?.tooltip"
  [placeholder]="item?.metaData?.placeholder"
  [ngModel]="item.value.value | toPhoneFormat"
  (ngModelChange)="validateField($event)"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  (onBlur)="optionChange($event)"
  [pattern]="item?.validators?.pattern || null"
  [mask]="item?.metaData?.mask || null"
  [showClearButton]="item?.metaData?.showClearButton"
  [prefixText]="item?.metaData?.prefixText"
  [suffixText]="item?.metaData?.suffixText"
  [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
  [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
  [showErrorMsg]="item?.metaData?.showErrorMessage"
  applyStyleVariables
  styleType="input"
  size="custom"
  [styleProperties]="item?.metaData?.styleProperties?.properties"
  [maxCharLimit]="12"
></finlevit-mask-text>
