<div [ngClass]="{ 'preview-container': true }" *ngIf="!hide">
  <ng-container *ngIf="item?.metaData?.widgetType === TextInput">
    <div class="input-container">
      <finlevit-text
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [leftIcon]="item?.metaData?.leftIcon"
        [rightIcon]="item?.metaData?.rightIcon"
        [error]="isError(item)"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); calculateFormulaValue(item, true)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        applyStyleVariables
        styleType="input"
        size="custom"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
        [showClearButton]="item?.metaData?.showClearButton"
        [prefixText]="item?.metaData?.prefixText"
        [suffixText]="item?.metaData?.suffixText"
        (onBlur)="optionChange($event, item)"
        [pattern]="item?.validators?.pattern || null"
        [mask]="item?.metaData?.mask || null"
        [showMaxCharLimit]="item?.validators?.maxLength"
        [maxCharLimit]="item?.validators?.maxLength"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
      >
      </finlevit-text>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Email">
    <div class="input-container">
      <finlevit-text
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [leftIcon]="item?.metaData?.leftIcon"
        [rightIcon]="item?.metaData?.rightIcon"
        [error]="isError(item)"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); calculateFormulaValue(item, true)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        [showClearButton]="item?.metaData?.showClearButton"
        [prefixText]="item?.metaData?.prefixText"
        [suffixText]="item?.metaData?.suffixText"
        (onBlur)="optionChange($event, item)"
        [pattern]="item?.validators?.pattern || null"
        [mask]="item?.metaData?.mask || null"
        [showMaxCharLimit]="item?.validators?.maxLength"
        [maxCharLimit]="item?.validators?.maxLength"
        applyStyleVariables
        styleType="input"
        size="custom"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
      >
      </finlevit-text>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === PasswordInput">
    <div class="input-container">
      <app-password-field
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        (onValueChange)="validateField($event, item)"
        (onBlurChange)="optionChange($event, item)"
        [item]="item"
      >
      </app-password-field>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === SSNInput">
    <div class="input-container">
      <app-ssninput-field
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        (onValueChange)="validateField($event, item)"
        (onBlurChange)="optionChange($event, item)"
        [item]="item"
        [value]="item.value.value"
      >
      </app-ssninput-field>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === PhonenumberInput">
    <div class="input-container">
      <app-phonenumber-field
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        (onValueChange)="validateField($event, item)"
        (onBlurChange)="optionChange($event, item)"
        [item]="item"
      >
      </app-phonenumber-field>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === TextArea">
    <div class="input-container">
      <finlevit-lib-textarea
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [rows]="item?.metaData?.rowsCount"
        [error]="isError(item)"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        applyStyleVariables
        styleType="input"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showCharCount]="item?.metaData?.styleProperties?.properties?.showCharCount"
        [autoResize]="item?.metaData?.autoResize"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
        (onBlur)="optionChange($event, item)"
        size="custom"
      >
      </finlevit-lib-textarea>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Number">
    <div class="input-container">
      <finlevit-number
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [placeholder]="item?.metaData?.placeholder"
        [tooltip]="item?.metaData?.tooltip"
        [error]="isError(item)"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); calculateFormulaValue(item, true)"
        [label]="item?.label"
        [isRequired]="item?.validators?.required"
        (onBlur)="optionChange($event, item)"
        [useGrouping]="item?.metaData?.thousandsSeparator"
        [rightIcon]="item?.metaData?.rightIcon"
        [leftIcon]="item?.metaData?.leftIcon"
        applyStyleVariables
        styleType="input"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
        [prefixText]="item?.metaData?.prefixText || item?.metaData?.currency?.currencySymbol"
        [suffixText]="item?.metaData?.suffixText"
        [showClearButton]="item?.metaData?.showClearButton"
        [step]="item?.metaData?.step"
        [showButtons]="item?.metaData?.showStepperButtons"
        [mode]="item?.metaData?.mode === 'currency' ? 'decimal' : item?.metaData?.mode"
        [minFractionDigits]="item?.metaData?.minFractionDigits"
        [maxFractionDigits]="item?.metaData?.maxFractionDigits"
        [maxLength]="item?.validators?.maxLength"
        [showMaxCharLimit]="item?.validators?.maxLength"
        size="custom"
      >
      </finlevit-number>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Text">
    <app-text-field *ngIf="item?.metaData?.advanced" [item]="item"></app-text-field>
    <div
      *ngIf="!item?.metaData?.advanced"
      [class]="'text-content text-style-' + item?.metaData?.textStyle"
      [ngStyle]="{
        'justify-content': item?.metaData?.horizontalAlign,
        'align-items': item?.metaData?.verticalAlign,
        'text-align': item?.metaData?.horizontalAlign,
        color: item?.metaData?.color,
        'font-weight': item?.metaData?.fontWeight
      }"
    >
      {{ item?.value?.value || item?.metaData?._value }}
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Button">
    <div class="input-container button-input" [ngStyle]="{ width: '100%' }">
      <finlevit-button
        [isDisabled]="item?.metaData?.isEnable === false || readonlyMode || disable || item?.isMirrorField"
        [leftIcon]="loading ? 'pi pi-spin pi-spinner' : item?.metaData?.leftIcon"
        [rightIcon]="item?.metaData?.rightIcon"
        [label]="item?.label"
        (btnClick)="btnClick($event, item)"
        applyStyleVariables
        styleType="button"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
        [isPress]="!readonlyMode && item?.metaData?.styleProperties?.properties?.press?.isActionEnabled"
        [isHover]="!readonlyMode && item?.metaData?.styleProperties?.properties?.hover?.isActionEnabled"
        [isFocus]="!readonlyMode && item?.metaData?.styleProperties?.properties?.focus?.isActionEnabled"
        size="custom"
      ></finlevit-button>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === CollapseContainer">
    <app-collapse-container [item]="item"></app-collapse-container>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Upload">
    <div class="input-container button-input">
      <app-upload [item]="item" [isDisabled]="readonlyMode || disable || item?.isMirrorField"></app-upload>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Image">
    <app-image [item]="item" (click)="btnClick($event, item)"></app-image>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Table">
    <div
      [ngClass]="{
        'input-container': true
      }"
    >
      <finlevit-custom-table
        [columns]="item?.metaData?.columns"
        [actions]="item?.metaData?.actions"
        [rows]="item?.rows"
        [tableData]="item?.value?.value || []"
        [showPageOptions]="false"
        [addRows]="item?.metaData?.addRows"
        [filter]="item?.metaData?.filter"
        [sort]="item?.metaData?.sort"
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [fixedRecordsPerPage]="0"
        [overflowType]="item?.metaData?.overflow"
        [paginatorPosition]="item?.metaData?.paginatorPosition"
        [hideHeader]="item?.metaData?.hideHeader"
        [hideFooter]="item?.metaData?.hideFooter"
        [saveBtnProperties]="item?.metaData?.saveBtnProperties"
        [cancelBtnProperties]="item?.metaData?.cancelBtnProperties"
        [horizontalBorder]="item?.metaData?.horizontalBorder"
        [verticalBorder]="item?.metaData?.verticalBorder"
        applyStyleVariables
        styleType="table"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      >
      </finlevit-custom-table>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === AdvTable">
    <div
      [ngClass]="{
        'input-container': true
      }"
    >
      <finlevit-custom-adv-table
        [columns]="item?.metaData?.columns"
        [actions]="item?.metaData?.actions"
        [rows]="item?.rows"
        [tableData]="item?.children"
        [addRows]="item?.metaData?.addRows"
        [filter]="item?.metaData?.filter"
        [sort]="item?.metaData?.sort"
        [overflowType]="item?.metaData?.overflow"
        [paginatorPosition]="item?.metaData?.paginatorPosition"
        [hideHeader]="item?.metaData?.hideHeader"
        [hideFooter]="item?.metaData?.hideFooter"
        [saveBtnProperties]="item?.metaData?.saveBtnProperties"
        [cancelBtnProperties]="item?.metaData?.cancelBtnProperties"
        [horizontalBorder]="item?.metaData?.horizontalBorder"
        [verticalBorder]="item?.metaData?.verticalBorder"
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        (onBtnClick)="btnClick(null, $event)"
        [isColumnEdit]="true"
        [rowEditConfigure]="item?.metaData?.rowEditConfigure"
        [rowDeleteConfigure]="item?.metaData?.rowDeleteConfigure"
        [onRowEdit]="onRowEdit"
        [onRowDelete]="onRowDelete"
        applyStyleVariables
        styleType="table"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      ></finlevit-custom-adv-table>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === TransactionTable">
    <app-transaction-table [item]="item" [isDisabled]="readonlyMode || disable"></app-transaction-table>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Checkbox">
    <div class="input-container">
      <finlevit-lib-checkbox
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [error]="isError(item)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); optionChange($event, item)"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
        applyStyleVariables
        styleType="checkbox"
        size="custom"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      ></finlevit-lib-checkbox>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === CheckboxGroup">
    <div class="input-container">
      <app-checkbox-group
        [item]="item"
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [columns]="item?.metaData?.columns"
      ></app-checkbox-group>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Dropdown">
    <div class="input-container">
      <app-dropdown-field
        [item]="item"
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        (optionChange)="optionChange($event, item); validateField($event, item); onChange($event)"
      ></app-dropdown-field>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Modal">
    <div class="input-container">
      <app-modal [item]="item" [isDisabled]="readonlyMode || disable || item?.isMirrorField"></app-modal>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === RadioGroup">
    <div class="input-container">
      <finlevit-radio-group
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [isRequired]="item?.validators?.required"
        [items]="item?.metaData?.options"
        [label]="item?.label"
        [optionLabel]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionLabel : 'name'"
        [optionValue]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionValue : 'name'"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); optionChange($event, item)"
        [error]="isError(item)"
        [alignOptions]="item?.metaData?.alignOptions"
        [columns]="item?.metaData?.columns"
        [tooltip]="item?.metaData?.tooltip"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [horizontalContentAlignment]="item?.metaData?.styleProperties?.properties?.horizontalOptionAlignment"
        [verticalContentAlignment]="item?.metaData?.styleProperties?.properties?.verticalOptionAlignment"
        [buttonType]="
          item?.metaData?.styleProperties?.properties?.buttonType
            ? item?.metaData?.styleProperties?.properties?.buttonType
            : 'radio'
        "
        [buttonAlignment]="item?.metaData?.styleProperties?.properties.radioAlign"
        applyStyleVariables
        styleType="radioGroup"
        size="custom"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      ></finlevit-radio-group>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === DatePicker">
    <div class="input-container">
      <finlevit-lib-datepicker
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [label]="item?.label"
        [errorMsg]="item?.errorMessage"
        [error]="isError(item)"
        [isRequired]="item?.validators?.required"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [viewDateFormat]="item?.metaData?.viewDateFormat"
        [returnDateFormat]="item?.metaData?.returnDateFormat"
        [minDate]="item?.validators?.minDate"
        [maxDate]="item?.validators?.maxDate"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); optionChange($event, item)"
        [yearNavigator]="true"
        [monthNavigator]="true"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
        [showTime]="item?.metaData?.showTime"
        [hourFormat]="item?.metaData?.hourFormat"
        [stepMinute]="item?.metaData?.stepMinute"
        [stepHour]="item?.metaData?.stepHour"
        [independentBorders]="item?.metaData?.styleProperties?.properties?.independentBorder"
        applyStyleVariables
        styleType="stepper"
        size="custom"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      >
      </finlevit-lib-datepicker>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === StepperContainer">
    <app-vertical-stepper
      [children]="item?.children"
      [metaData]="item?.metaData"
      [headerContent]="item?.metaData?.headerContent"
      applyStyleVariables
      styleType="stepper"
      [styleProperties]="item?.metaData?.styleProperties?.properties"
      [indicatorIconColor]="item?.metaData?.styleProperties?.properties?.indicatorIconColor"
    >
    </app-vertical-stepper>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === TabContainer">
    <app-tab-container
      [item]="item"
      applyStyleVariables
      styleType="tab"
      [styleProperties]="item?.metaData?.styleProperties?.properties"
    >
    </app-tab-container>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Divider">
    <div class="input-container">
      <app-divider [item]="item"></app-divider>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Spacer">
    <div class="input-container">
      <app-spacer [item]="item"></app-spacer>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Icon">
    <div class="input-container">
      <app-icon [item]="item" (click)="btnClick($event, item)"></app-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Avatar">
    <div class="input-container">
      <app-avatar
        [item]="item"
        applyStyleVariables
        styleType="avatar"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      >
      </app-avatar>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Container">
    <div class="input-container">
      <app-container [item]="item" (click)="btnClick($event, item)"></app-container>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Header || item?.metaData?.widgetType === Footer">
    <div
      [ngClass]="{
        'nested-grid-container': true,
        'header-container': item?.metaData?.widgetType === Header,
        'footer-container': item?.metaData?.widgetType === Footer
      }"
    >
      <div
        *ngIf="item?.metaData?.title"
        class="container-title"
        [ngStyle]="{
          'background-color': item?.metaData?.header?.bgColor,
          color: item?.metaData?.header?.color,
          'font-size': item?.metaData?.header?.fontSize + 'px',
          height: item?.metaData?.header?.height + 'px'
        }"
      >
        <i
          *ngIf="item?.metaData?.header?.icon"
          [class]="item?.metaData?.header?.icon"
          [ngStyle]="{
            color: item?.metaData?.header?.color,
            'font-size': item?.metaData?.header?.fontSize + 'px',
            'font-weight': 'inherit',
            marginRight: '0.5rem'
          }"
        ></i
        >{{ item?.metaData?.title }}
      </div>
      <finlevit-grid [parent]="item" [items]="item.children"></finlevit-grid>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Address">
    <div class="input-container">
      <finlevit-text
        addressAutocomplete
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
        [isDisabled]="readonlyMode || disable || item?.isMirrorField"
        [leftIcon]="item?.metaData?.leftIcon"
        [rightIcon]="item?.metaData?.rightIcon"
        [error]="isError(item)"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); calculateFormulaValue(item, true)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        [showClearButton]="item?.metaData?.showClearButton"
        [prefixText]="item?.metaData?.prefixText"
        [suffixText]="item?.metaData?.suffixText"
        (onBlur)="optionChange($event, item)"
        [pattern]="item?.validators?.pattern || null"
        [mask]="item?.metaData?.mask || null"
        [showMaxCharLimit]="item?.validators?.maxLength"
        [maxCharLimit]="item?.validators?.maxLength"
        [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
        [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
        [showErrorMsg]="item?.errorMessage || item?.metaData?.showErrorMessage"
        applyStyleVariables
        styleType="input"
        size="custom"
        [styleProperties]="item?.metaData?.styleProperties?.properties"
      >
      </finlevit-text>
    </div>
  </ng-container>
</div>
