<div
  [ngClass]="{ 'preview-container': true, 'controls-active': showControls }"
  (mouseleave)="toggleControls(false)"
  (mouseover)="toggleControls(true)"
  *ngIf="!hide"
>
  <ul
    *ngIf="
      showEdit &&
      showControls &&
      (item?.metaData?.widgetType == TextInput ||
        item?.metaData?.widgetType == PasswordInput ||
        item?.metaData?.widgetType == TextArea ||
        item?.metaData?.widgetType == Number ||
        item?.metaData?.widgetType == CheckboxGroup ||
        item?.metaData?.widgetType == RadioGroup ||
        item?.metaData?.widgetType == DatePicker ||
        item?.metaData?.widgetType == Dropdown ||
        item?.metaData?.widgetType == Checkbox)
    "
  >
    <li title="Edit field" *ngIf="!editMode" (click)="onEdit($event, item)">
      <i class="pi pi-pencil opt-icon"></i>
    </li>
    <li title="Save field" *ngIf="editMode" (click)="onSave(item)">
      <i class="pi pi-save opt-icon"></i>
    </li>
    <li title="Cancel" *ngIf="editMode" (click)="onCancel()">
      <i class="pi pi-times opt-icon"></i>
    </li>
  </ul>

  <ng-container *ngIf="item?.metaData?.widgetType === ErrorContainer">
    <div class="input-container">
      <div class="error-msg" *ngFor="let value of item?.value?.value">
        <span class="material-icons mr-2"> error </span><span>{{ value }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isTextInput(item?.metaData?.widgetType)">
    <div class="input-container">
      <finlevit-text
        *ngIf="!item?.metaData?.isFormulaField"
        [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
        [leftIcon]="item?.metaData?.leftIcon"
        [rightIcon]="item?.metaData?.rightIcon"
        [error]="item?.error == true"
        [errorMsg]="item?.errorMsg"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        (onBlur)="optionChange($event, item)"
        [type]="getInputType(item?.metaData?.widgetType)"
        [pattern]="getPattern(item?.metaData?.widgetType)"
      ></finlevit-text>
      <finlevit-text
              *ngIf="item?.metaData?.isFormulaField"
              [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
              [leftIcon]="item?.metaData?.leftIcon"
              [rightIcon]="item?.metaData?.rightIcon"
              [error]="item?.error == true"
              [errorMsg]="item?.errorMsg"
              [tooltip]="item?.metaData?.tooltip"
              [placeholder]="item?.metaData?.placeholder"
              [ngModel]="calculateFormulaValue(item?.metaData)"
              (ngModelChange)="validateField($event, item)"
              [isRequired]="item?.validators?.required"
              [label]="item?.label"
              (onBlur)="optionChange($event, item)"
              [type]="getInputType(item?.metaData?.widgetType)"
              [pattern]="getPattern(item?.metaData?.widgetType)"
      ></finlevit-text>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === TextArea">
    <div class="input-container">
      <finlevit-lib-textarea
        [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
        [rows]="item?.metaData?.rowsCount"
        [error]="item?.error == true"
        [errorMsg]="item?.errorMsg"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item)"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
      ></finlevit-lib-textarea>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Number">
    <div class="input-container">
      <finlevit-number *ngIf="!item?.metaData?.isFormulaField"
        [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
        [placeholder]="item?.metaData?.placeholder"
        [tooltip]="item?.metaData?.tooltip"
        [suffix]="item?.metaData?.suffix"
        [prefix]="item?.metaData?.prefix"
        [error]="item?.error == true"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item)"
        [errorMsg]="item?.errorMsg"
        [label]="item?.label"
        [isRequired]="item?.validators?.required"
        [format]="item?.metaData?.format"
        (onBlur)="optionChange($event, item)"
      ></finlevit-number>
      <finlevit-number *ngIf="item?.metaData?.isFormulaField"
                       [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
                       [placeholder]="item?.metaData?.placeholder"
                       [tooltip]="item?.metaData?.tooltip"
                       [suffix]="item?.metaData?.suffix"
                       [prefix]="item?.metaData?.prefix"
                       [error]="item?.error == true"
                       [ngModel]="calculateFormulaValue(item?.metaData)"
                       (ngModelChange)="validateField($event, item)"
                       [errorMsg]="item?.errorMsg"
                       [label]="item?.label"
                       [isRequired]="item?.validators?.required"
                       [format]="item?.metaData?.format"
                       (onBlur)="optionChange($event, item)"
      ></finlevit-number>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Text">
    <app-text-field *ngIf="item?.metaData?.advanced" [item]="item"></app-text-field>
    <div
      *ngIf="!item?.metaData?.advanced"
      [class]="'text-content text-style-' + item?.metaData?.textStyle"
      [ngStyle]="{
        'justify-content': item?.metaData?.horizontalAlign,
        'align-items': item?.metaData?.verticalAlign,
        'text-align': item?.metaData?.horizontalAlign,
        color: item?.metaData?.color,
        'font-weight': item?.metaData?.fontWeight
      }"
    >
      {{ item?.value?.value || item?.metaData?._value }}
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Button">
    <div class="input-container button-input" [ngStyle]="{ width: '100%' }">
      <finlevit-button
        [isDisabled]="item?.metaData?.isEnable === false || disable"
        [icon]="item?.metaData?.icon"
        [iconPos]="item?.metaData?.iconPos"
        [color]="item?.metaData?.color"
        [bgColor]="item?.metaData?.bgColor"
        [label]="item?.label"
        (btnClick)="btnClick($event, item)"
        [variant]="item?.metaData?.variant"
        [type]="item?.metaData?.type"
      ></finlevit-button>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === CollapseContainer">
    <app-collapse-container
      [item]="item"
      [showEdit]="showEdit"
      [viewMode]="viewMode"
      [isDisabled]="disable"
      [editMode]="editMode"
    ></app-collapse-container>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Upload">
    <div class="input-container button-input">
      <app-upload [item]="item" [viewMode]="viewMode" [editMode]="editMode" [isDisabled]="disable"></app-upload>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Image">
    <div class="image-container">
      <img [src]="item?.metaData?.url" />
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Table">
    <div
      [ngClass]="{
        'input-container': true,
        'paginated-table-container': item?.metaData?.pagination,
        'no-data-table': item?.metaData?.configure ? !item?.metaData?.options?.length : !item?.value?.value?.length
      }"
    >
      <finlevit-table
        class="table-container"
        noDataMessage="No Data Found"
        [headerColor]="item?.metaData?.color"
        [headerBgColor]="item?.metaData?.bgColor"
        [pagination]="item?.metaData?.pagination"
        [addRows]="item?.metaData?.addRows"
        [sort]="item?.metaData?.sort"
        [filter]="item?.metaData?.filter"
        [tableData]="
          item?.value?.value?.length
            ? item?.value?.value
            : item?.metaData?.configure
            ? item?.metaData?.options
            : item?.value?.value || []
        "
        [tableHeading]="item?.metaData?.heading"
        [columns]="item?.metaData?.columns"
        (onColDataChange)="onColDataChange($event)"
        [editRow]="item?.metaData?.actions?.editRow"
        [hideHeader]="item?.metaData?.hideHeader"
        [cellBorder]="item?.metaData?.cellBorder"
        [deleteRow]="item?.metaData?.actions?.deleteRow"
        [actionWidth]="item?.metaData?.actions?.width"
        [actionLabel]="item?.metaData?.actions?.label"
      ></finlevit-table>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === TransactionTable">
    <app-transaction-table [item]="item" [viewMode]="viewMode" [editMode]="editMode"></app-transaction-table>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Checkbox">
    <div class="input-container">
      <finlevit-lib-checkbox
        [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
        [errorMsg]="item?.errorMsg"
        [error]="item?.error == true"
        [isRequired]="item?.validators?.required"
        [label]="item?.label"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); onChange($event)"
      ></finlevit-lib-checkbox>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === CheckboxGroup">
    <div class="input-container">
      <app-checkbox-group
        [item]="item"
        [viewMode]="true"
        [editMode]="editMode"
        [dataListId]="item?.metaData?.datalistId"
        [isDisabled]="disable"
      ></app-checkbox-group>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Dropdown">
    <div class="input-container">
      <app-dropdown-field
        [item]="item"
        [viewMode]="viewMode"
        [isDisabled]="disable"
        [editMode]="editMode"
        (optionChange)="optionChange($event, item); validateField($event, item); onChange($event)"
      ></app-dropdown-field>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === Modal">
    <div class="input-container">
      <app-modal
        [item]="item"
        [showEdit]="showEdit"
        [viewMode]="viewMode"
        [isDisabled]="disable"
        [editMode]="editMode"
        (onBtnClick)="onBtnClick.emit($event)"
        (onTableDataChange)="onTableDataChange.emit($event)"
        (onOptionChange)="optionChange($event, $event.data)"
      ></app-modal>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === RadioGroup">
    <div class="input-container">
      <finlevit-radio-group
        [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
        [isRequired]="item?.validators?.required"
        [items]="item?.metaData?.options"
        [label]="item?.label"
        [optionLabel]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionLabel : ''"
        [optionValue]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionValue : ''"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item); onChange($event)"
        [errorMsg]="item?.errorMsg"
        [error]="item?.error == true"
        [alignOptions]="item?.metaData?.alignOptions"
      ></finlevit-radio-group>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === DatePicker">
    <div class="input-container">
      <finlevit-lib-datepicker
        [isDisabled]="(viewMode && (!item?.validators?.editable || !editMode)) || disable"
        [label]="item?.label"
        [errorMsg]="item?.errorMsg"
        [error]="item?.error == true"
        [isRequired]="item?.validators?.required"
        [tooltip]="item?.metaData?.tooltip"
        [placeholder]="item?.metaData?.placeholder"
        [viewDateFormat]="item?.metaData?.viewDateFormat"
        [returnDateFormat]="item?.metaData?.returnDateFormat"
        [minDate]="item?.validators?.minDate"
        [maxDate]="item?.validators?.maxDate"
        [(ngModel)]="item.value.value"
        (ngModelChange)="validateField($event, item)"
      ></finlevit-lib-datepicker>
    </div>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === StepperContainer">
    <mat-horizontal-stepper
      [selectedIndex]="selectedStep"
      [ngClass]="{ 'stepper-container': true, 'no-stepper-child-container': item.children.length === 0 }"
      labelPosition="bottom"
      #stepper
    >
      <mat-step *ngFor="let child of item.children; let i = index">
        <ng-template matStepLabel
          ><i [class]="child.metaData.icon"></i> <span class="mat-step-label-text">{{ child.label }}</span></ng-template
        >
        <div
          [ngClass]="{
            'nested-grid-container': true,
            'empty-child': !child.children.length
          }"
        >
          <div *ngIf="!child.children.length" class="container-help-text">
            <span>No Data Found</span>
          </div>
          <finlevit-grid
            [viewMode]="viewMode"
            [showEdit]="showEdit"
            [parent]="child"
            [items]="child.children"
            (onBtnClick)="onBtnClick.emit($event)"
            (onTableDataChange)="onTableDataChange.emit($event)"
            (onOptionChange)="optionChange($event, $event.data)"
          ></finlevit-grid>
        </div>
        <div class="stepper-btn-container">
          <div>
            <button *ngIf="i > 0" matStepperPrevious class="step-btn">Previous</button>
          </div>
          <div>
            <button *ngIf="i != item.children.length - 1" class="step-btn" (click)="onNext($event, child, stepper)">
              Next
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container>
  <ng-container *ngIf="item?.metaData?.widgetType === TabContainer">
    <div class="tab-container">
      <p-tabView [activeIndex]="tabActiveIndex" (onChange)="onTabChange($event)">
        <ng-container *ngFor="let child of item.children; let i = index">
          <p-tabPanel *ngIf="!child?.metaData?.isHidden" [header]="child.label">
            <ng-template pTemplate="header">
              <i [class]="child?.metaData?.icon" class="p-pr-1"></i>
              <span>{{ child.label }}</span>
            </ng-template>
            <div
              [ngClass]="{
              'nested-grid-container': true,
              'empty-child': !child.children.length
            }"
            >
              <div *ngIf="!child.children.length" class="container-help-text">
                <i class="pi pi-plus"></i>
                <span>Drag and drop fields to tab container</span>
              </div>
              <finlevit-grid
                [viewMode]="viewMode"
                [showEdit]="showEdit"
                [parent]="child"
                [items]="child.children"
                (onBtnClick)="onBtnClick.emit($event)"
                (onTableDataChange)="onTableDataChange.emit($event)"
                (onOptionChange)="optionChange($event, $event.data)"
              ></finlevit-grid>
            </div>
          </p-tabPanel>
        </ng-container>
      </p-tabView>
    </div>
  </ng-container>
  <ng-container
    *ngIf="
      item?.metaData?.widgetType === Container ||
      item?.metaData?.widgetType === Header ||
      item?.metaData?.widgetType === Footer
    "
  >
    <div
      [ngClass]="{
        'nested-grid-container': true,
        'header-container': item?.metaData?.widgetType === Header,
        'footer-container': item?.metaData?.widgetType === Footer
      }"
    >
      <div
        *ngIf="item?.metaData?.title"
        class="container-title"
        [ngStyle]="{
        'background-color': item?.metaData?.header?.bgColor,
        color: item?.metaData?.header?.color,
        'font-size': item?.metaData?.header?.fontSize + 'px',
        height: item?.metaData?.header?.height + 'px'
      }"
      >
        <i
          *ngIf="item?.metaData?.header?.icon"
          [class]="item?.metaData?.header?.icon"
          [ngStyle]="{
          color: item?.metaData?.header?.color,
          'font-size': item?.metaData?.header?.fontSize + 'px',
          'font-weight': 'inherit',
          marginRight: '0.5rem'
        }"
        ></i
        >{{ item?.metaData?.title }}
      </div>
      <finlevit-grid
        [viewMode]="viewMode"
        [showEdit]="showEdit"
        [parent]="item"
        [items]="item.children"
        (onBtnClick)="onBtnClick.emit($event)"
        (onTableDataChange)="onTableDataChange.emit($event)"
        (onOptionChange)="optionChange($event, $event.data)"
      ></finlevit-grid>
    </div>
  </ng-container>
</div>
