@import "src/assets/scss/_mixins.scss";

@include nested-grid-container();

.preview-container {
  position: relative;
  height: 100%;
}
.text-content {
  display: flex !important;
  align-items: center;
  width: 100%;
  height: 100%;
  &.text-style-h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  &.text-style-h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &.text-style-h3 {
    font-size: 1.17rem;
    font-weight: bold;
  }
  &.text-style-h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  &.text-style-h5 {
    display: block;
    font-size: 0.83rem;
    font-weight: bold;
  }
  &.text-style-h6 {
    display: block;
    font-size: 0.67rem;
    font-weight: bold;
  }
  &.text-style-subtitle1 {
    font-size: 0.8rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.75;
    letter-spacing: 0.00938rem;
  }
  &.text-style-body1 {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    letter-spacing: 0.00938rem;
  }
}
.input-container {
  height: 100%;
}

.collapse-container {
  ::ng-deep {
    .input-label,
    .checkbox-label {
      font-weight: normal;
    }
  }
}
::ng-deep {
  .stepper-container > div.mat-horizontal-stepper-header-container {
    overflow: auto;
  }
}
.input-container,
.select-container {
  padding: var(--spacing-xxs);
}
