<div class="login-wrapper">
  <div class="login-image"></div>
  <div class="login-container">
    <form [formGroup]="authForm" class="login-form">
      <div class="logo">
        <img alt="logo" class="logo-img" src="/assets/images/logo-full.png" />
      </div>
      <div class="subtitle">Bring your ideas to life with no-code</div>
      <div class="mb-4">
        <finlevit-text
          type="text"
          label="UserId"
          formControlName="userName"
          [isRequired]="true"
          size="md"
          errorMsg="Please enter User Id"
        ></finlevit-text>
      </div>
      <div class="mt-2 mb-4">
        <finlevit-text
          type="password"
          label="Password"
          formControlName="passWord"
          [isRequired]="true"
          size="md"
          errorMsg="Please enter Password"
        ></finlevit-text>
      </div>
      <div class="mt-2 mb-4">
        <finlevit-lib-checkbox class="d-flex" size="sm" label="Remember me"></finlevit-lib-checkbox>
      </div>
      <div class="error-msg mt-2 mb-2">{{ loginError }}</div>
      <div class="mt-6">
        <finlevit-button
          roleType="submit"
          [leftIcon]="loading ? 'pi pi-spin pi-spinner' : ''"
          label="Login"
          size="md"
          fullWidth="true"
          (btnClick)="onSubmit()"
        ></finlevit-button>
      </div>
    </form>
  </div>
</div>
