<div #dropdownReference class="search-btn-wrapper">
  <finlevit-icon-preview
    [style.cursor]="'pointer'"
    (onClick)="showDropdown()"
    icon="pi pi-filter"
  ></finlevit-icon-preview>
</div>
<custom-dropdown [offsetX]="-550" [reference]="dropdownReference" #dropdownComp>
  <div class="search-container">
    <ng-container *ngFor="let control of advSearchForm.controls; index as i">
      <div class="search-row" [formGroup]="control">
        <div class="rule-number">{{ i + 1 }})</div>
        <finlevit-lib-select
          [isRequired]="true"
          [optionLabel]="'label'"
          class="m-2"
          size="xs"
          placeholder="Select Column"
          [options]="columns"
          formControlName="field"
          [isDisabled]="readonlyMode"
          (ngModelChange)="onColumnChange($event, control)"
        ></finlevit-lib-select>
        <finlevit-lib-select
          [isRequired]="true"
          class="m-2"
          size="xs"
          optionLabel="name"
          optionValue="id"
          placeholder="Select Condition"
          [options]="conditions[(control?.value?.field?.type || '').toUpperCase() || 'DEFAULT']"
          formControlName="condition"
          [isDisabled]="readonlyMode"
          (ngModelChange)="onConditionChange($event, control)"
        ></finlevit-lib-select>
        <ng-container *ngIf="control.value.condition === 'isNull'">
          <finlevit-text
            class="m-2"
            type="text"
            size="xs"
            [placeholder]="control?.value?.field?.label || 'Enter Value'"
            formControlName="value"
            [isDisabled]="true"
          ></finlevit-text>
        </ng-container>
        <ng-container *ngIf="control.value.condition === 'isNotNull'">
          <finlevit-text
            class="m-2"
            type="text"
            size="xs"
            [placeholder]="control?.value?.field?.label || 'Enter Value'"
            formControlName="value"
            [isDisabled]="true"
          ></finlevit-text>
        </ng-container>
        <ng-container *ngIf="control.value.condition !== 'isNull' && control.value.condition !== 'isNotNull'">
          <ng-container [ngSwitch]="control?.value?.field?.colType">
            <finlevit-lib-datepicker
              class="m-2"
              size="xs"
              *ngSwitchCase="DatePicker"
              [placeholder]="control?.value?.field?.label || 'Enter Value'"
              formControlName="value"
              [isDisabled]="readonlyMode"
            ></finlevit-lib-datepicker>
            <finlevit-number
              class="m-2"
              *ngSwitchCase="Number"
              size="xs"
              [placeholder]="control?.value?.field?.label || 'Enter Value'"
              formControlName="value"
              [isDisabled]="readonlyMode"
            >
            </finlevit-number>
            <finlevit-lib-select
              class="m-2"
              *ngSwitchCase="Checkbox"
              size="xs"
              placeholder="Select"
              formControlName="value"
              [isDisabled]="readonlyMode"
              optionValue="value"
              optionLabel="name"
              [options]="[
                { name: 'True', value: true },
                { name: 'False', value: false }
              ]"
            ></finlevit-lib-select>
            <finlevit-text
              class="m-2"
              *ngSwitchDefault
              type="text"
              size="xs"
              [mask]="control?.value?.condition?.startsWith('length') ? '0*' : ''"
              [placeholder]="control?.value?.field?.label || 'Enter Value'"
              formControlName="value"
              [isDisabled]="readonlyMode"
            ></finlevit-text>
          </ng-container>
        </ng-container>
        <app-icon-btn
          class="mt-2"
          *ngIf="advSearchForm.controls.length > 1 && !readonlyMode"
          [iconOnly]="true"
          (btnClick)="removeSearchField(i)"
          size="xs"
          type="secondary"
          icon="pi pi-trash"
        ></app-icon-btn>
        <app-icon-btn
          class="mt-2"
          type="secondary"
          [iconOnly]="true"
          *ngIf="!readonlyMode"
          (btnClick)="addSearchField()"
          size="xs"
          icon="pi pi-plus"
        ></app-icon-btn>
      </div>
    </ng-container>
    <div class="mt-3" *ngIf="advSearchForm.controls.length > 1">
      <finlevit-text
        label="Apply Filters"
        type="text"
        [leftIcon]="functionIcon"
        [(ngModel)]="filtersLogic"
        (ngModelChange)="onFilterLogicChange($event)"
        size="xs"
        [error]="filtersLogicError"
        [errorMsg]="filtersLogicError"
        (onBlur)="validateFilter()"
      ></finlevit-text>
      <div class="help-text">
        <div>Note: Special characters ( & | only allowed</div>
        <div>Ex: (1 && 2) && 2</div>
      </div>
    </div>
    <div class="d-flex justify-content-center m-4 filter-actions">
      <div class="m-2">
        <app-icon-btn size="xs" icon="pi pi-search" label="Search" (btnClick)="onSearch()"> </app-icon-btn>
      </div>
      <div class="m-2">
        <app-btn-common size="xs" (btnClick)="clearSearch()" label="Clear"> </app-btn-common>
      </div>
    </div>
  </div>
</custom-dropdown>
