@import "scss/index";

.search-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: left;
  background-color: var(--dialog-background-color);
  padding: var(--spacing-md);
  background-clip: border-box;
  @include box-shadow-medium();
  border-radius: var(--border-radius-sm);
  max-height: 320px;
  overflow: scroll;
  min-width: 600px;
  width: 100%;
}

.search-row {
  display: flex;
  flex-grow: 1;
  justify-content: left;
}
.rule-number {
  margin-top: var(--spacing-sm);
}
.help-text {
  margin-top: var(--spacing-sm);
  @include font-body-input();
  color: var(--grey-color-700);
}
.search-btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
