@import 'src/assets/scss/var';

.search-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: left;
  background-color: #fff;
  padding: 20px;
  background-clip: border-box;
  box-shadow: 1px 3px 10px rgba(0,0,0,.24);
  border-radius: 4px;
  max-height: 320px;
  overflow: scroll;
  min-width: 600px;
  width: 100%;
}

.search-row{
  display: flex;
  flex-grow: 1;
  justify-content: left;
}
.search-btn-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  .search-btn{
    display: inline-flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 40px;
    cursor: pointer;
  }
  .search-indicator{
    display: flex;
    align-items: center;
    background: #e0e0e0;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 16px;
    .search-ind-icon{
      margin-left: 5px;
      font-size: 18px;
      height: 18px;
      width: 18px;
      color: rgba(0,0,0,.87);
      opacity: .4;
      cursor: pointer;
    }

  }
  .search-icon{
    margin-left: 10px;
  }
}
.clear-icon {
  margin-left: 20px;
  background: #ec6b6e;
  padding: 2px;
  margin-top: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.add-icon{
  margin-left: 20px;
  background: $accent;
  padding: 2px;
  margin-top: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
::ng-deep{
  .clear-btn{
    background-color: #d41111 !important;
  }
}
