<div
  [ngClass]="{
    'table-widget': true,
    'no-data': !(tableFilters?.filtersEnabled ? filteredTableData : tableData).length
  }"
>
  <div
    [ngClass]="{
      'finlevit-table': true,
      'pagination-top': paginatorPosition === PaginatorPositionTypes.TOP,
      'pagination-bottom': paginatorPosition === PaginatorPositionTypes.BOTTOM
    }"
    [id]="tableId"
    sorter
    (sortChange)="onSortChange($event)"
  >
    <div class="f-table">
      <div
        class="f-thead"
        *ngIf="!hideHeader"
        [ngStyle]="{
          'min-width': getMinWidth(),
          'border-bottom-style': horizontalBorder ? 'solid' : 'none'
        }"
      >
        <div *ngIf="colSearch" class="f-tr f-tr-search pt-2 pb-2">
          <div
            *ngIf="selectable"
            class="f-th"
            [ngStyle]="{
              width: selectableConfig.width + 'px',
              maxWidth: selectableConfig.width ? selectableConfig.width + 'px' : 'auto',
              flex: selectableConfig.width + ' 0 auto',
              'border-right-style': verticalBorder ? 'solid' : 'none'
            }"
            [align]="selectableConfig.alignment"
          >
            <div class="f-resizable-header-content">
              <div
                [ngClass]="{
                  'f-column-header-name': true,
                  left: selectableConfig.alignment === CellAlignTypes.LEFT,
                  right: selectableConfig.alignment === CellAlignTypes.RIGHT,
                  center: selectableConfig.alignment === CellAlignTypes.CENTER
                }"
              ></div>
            </div>
          </div>
          <ng-container *ngFor="let col of columns | customFilter: { filterFn: columnFilterHiddenColumns }">
            <div
              class="f-th"
              [ngStyle]="{
                width: (col?.width || 100) + 'px',
                maxWidth: col?.width ? (col?.width || 100) + 'px' : 'auto',
                flex: (col?.width || 100) + ' 0 auto',
                display: 'flex',
                alignItems: 'center',
                'border-right-style': verticalBorder ? 'solid' : 'none'
              }"
              [align]="col.alignment"
            >
              <div class="f-resizable-header-content">
                <div
                  [ngClass]="{
                    'f-column-header-name': true,
                    left: col.alignment === CellAlignTypes.LEFT,
                    right: col.alignment === CellAlignTypes.RIGHT,
                    center: col.alignment === CellAlignTypes.CENTER
                  }"
                >
                  <ng-container *ngIf="col?.searchable">
                    <ng-container [ngSwitch]="col.colType">
                      <ng-container *ngSwitchCase="TextInput">
                        <finlevit-text
                          [name]="'search' + col.columnId"
                          [(ngModel)]="searchObject[col.columnId]"
                          [placeholder]="col?.label"
                          (keydown)="onKeyDown($event, col)"
                          size="xs"
                        ></finlevit-text>
                      </ng-container>
                      <ng-container *ngSwitchCase="Dropdown">
                        <finlevit-lib-select
                          [name]="'search' + col.columnId"
                          [(ngModel)]="searchObject[col.columnId]"
                          (ngModelChange)="emitColSearch(col)"
                          [placeholder]="col?.label"
                          size="xs"
                          optionLabel="name"
                          optionValue="value"
                          [options]="col?.options || []"
                        ></finlevit-lib-select>
                      </ng-container>
                      <ng-container *ngSwitchCase="DatePicker">
                        <finlevit-lib-datepicker
                          [name]="'search' + col.columnId"
                          [(ngModel)]="searchObject[col.columnId]"
                          (ngModelChange)="emitColSearch(col)"
                          [placeholder]="col?.label"
                          size="xs"
                        ></finlevit-lib-datepicker>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <finlevit-text
                          [name]="'search' + col.columnId"
                          [(ngModel)]="searchObject[col.columnId]"
                          [placeholder]="col?.label"
                          (keydown)="onKeyDown($event, col)"
                          size="xs"
                        ></finlevit-text>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="f-resizer" (resizable)="onResize($event, col)"></div>
            </div>
          </ng-container>
          <div
            *ngIf="actions?.editRow || actions?.deleteRow"
            class="f-th"
            [ngStyle]="{
              width: (actions?.width || 100) + 'px',
              flex: (actions?.width || 100) + ' 0 auto'
            }"
          >
            <div class="f-resizable-header-content">
              <div
                [ngClass]="{
                  'f-column-header-name': true,
                  left: actions.alignment === CellAlignTypes.LEFT,
                  right: actions.alignment === CellAlignTypes.RIGHT,
                  center: actions.alignment === CellAlignTypes.CENTER
                }"
              >
                {{ actions.label }}
              </div>
            </div>
          </div>
        </div>
        <div class="f-tr">
          <div
            *ngIf="selectable"
            class="f-th"
            [ngStyle]="{
              width: selectableConfig.width + 'px',
              maxWidth: selectableConfig.width ? selectableConfig.width + 'px' : 'auto',
              flex: selectableConfig.width + ' 0 auto',
              'border-right-style': verticalBorder ? 'solid' : 'none'
            }"
            [align]="selectableConfig.alignment"
          >
            <div class="f-resizable-header-content">
              <div
                [ngClass]="{
                  'f-column-header-name': true,
                  left: selectableConfig.alignment === CellAlignTypes.LEFT,
                  right: selectableConfig.alignment === CellAlignTypes.RIGHT,
                  center: selectableConfig.alignment === CellAlignTypes.CENTER
                }"
              >
                <finlevit-lib-checkbox
                  name="selectAll"
                  size="xs"
                  labelPos="Top"
                  (ngModelChange)="masterToggle()"
                  [ngModel]="selection.hasValue() && isAllSelected()"
                ></finlevit-lib-checkbox>
              </div>
            </div>
          </div>
          <div
            [ngStyle]="{
              width: (col?.width || 100) + 'px',
              maxWidth: col?.width ? (col?.width || 100) + 'px' : 'auto',
              flex: (col?.width || 100) + ' 0 auto',
              display: 'flex',
              alignItems: 'center',
              'border-right-style': verticalBorder ? 'solid' : 'none'
            }"
            [ngClass]="{
              'f-th': true,
              sorted: sortHeader?.sorter?.active === col?.columnId
            }"
            *ngFor="let col of columns | customFilter: { filterFn: columnFilterHiddenColumns }"
            [sortEligible]="
              (sort || col?.sortable) &&
              !Object.keys(newRows).length &&
              !Object.keys(editRows).length &&
              !Object.keys(editCells).length
            "
            [ref]="col.columnId"
            [align]="col.alignment"
            sortHeader
            #sortHeader
          >
            <div class="f-resizable-header-content">
              <div
                [ngClass]="{
                  'f-column-header-name': true,
                  left: col.alignment === CellAlignTypes.LEFT,
                  right: col.alignment === CellAlignTypes.RIGHT,
                  center: col.alignment === CellAlignTypes.CENTER
                }"
              >
                {{ col?.label || col?.name }}
              </div>
            </div>
            <div class="f-resizer" (resizable)="onResize($event, col)"></div>
          </div>
          <div
            *ngIf="actions?.editRow || actions?.deleteRow"
            class="f-th"
            [ngStyle]="{
              width: (actions?.width || 100) + 'px',
              flex: (actions?.width || 100) + ' 0 auto'
            }"
          >
            <div class="f-resizable-header-content">
              <div
                [ngClass]="{
                  'f-column-header-name': true,
                  left: actions.alignment === CellAlignTypes.LEFT,
                  right: actions.alignment === CellAlignTypes.RIGHT,
                  center: actions.alignment === CellAlignTypes.CENTER
                }"
              >
                {{ actions?.label }}
              </div>
            </div>
            <div class="f-resizer" (resizable)="onResize($event, actions)"></div>
          </div>
        </div>
      </div>
      <div
        [ngClass]="{ 'f-tbody': true, 'edit-row-exists': isEditRowExists }"
        [ngStyle]="{
          'min-width': getMinWidth()
        }"
        #tableBody
      >
        <app-loader [loading]="isLoading"></app-loader>
        <ng-container
          *ngIf="!isLoading && !(tableFilters?.filtersEnabled ? filteredTableData.length : tableData.length)"
        >
          <div class="no-data-container"></div>
        </ng-container>
        <ng-container
          *ngFor="
            let rowData of (tableFilters?.filtersEnabled ? filteredTableData : tableData)
              | paginationFilter
                : {
                    page: this.currentPage - 1,
                    limit: this.limitPerPage,
                    isPaginationEnabled: isPaginationEnabled && !isServerSidePagination
                  };
            let rowIndex = index
          "
        >
          <ng-container
            *ngTemplateOutlet="
              bodyRow;
              context: {
                $implicit: rowData,
                rowIndex: isPaginationEnabled && pagination ? pagination.start - 1 + rowIndex : rowIndex,
                columns: columns
              }
            "
          ></ng-container>
        </ng-container>
        <ng-template #bodyRow let-rowData let-rowIndex="rowIndex">
          <div
            [ngClass]="{ 'f-tr-group': true, 'edit-row': isRowEditMode(rowIndex) || isNewRowEditMode(rowIndex) }"
            (click)="onRowClick.emit(rowData)"
          >
            <div
              class="f-tr"
              [ngStyle]="{
                'min-height': minRowHeight + 'px'
              }"
            >
              <div
                *ngIf="selectable"
                class="f-td"
                [ngStyle]="{
                  width: selectableConfig.width + 'px',
                  maxWidth: selectableConfig.width ? selectableConfig.width + 'px' : 'auto',
                  flex: selectableConfig.width + ' 0 auto'
                }"
              >
                <div
                  [ngClass]="{ 'cell-container': true }"
                  [ngStyle]="{
                    'border-right-style': verticalBorder ? 'solid' : 'none',
                    'border-bottom-style': horizontalBorder ? 'solid' : 'none'
                  }"
                >
                  <div
                    [ngClass]="{
                      'inner-cell-container': true,
                      left: selectableConfig.alignment === CellAlignTypes.LEFT,
                      right: selectableConfig.alignment === CellAlignTypes.RIGHT,
                      center: selectableConfig.alignment === CellAlignTypes.CENTER
                    }"
                  >
                    <finlevit-lib-checkbox
                      size="xs"
                      (click)="$event.stopPropagation()"
                      [name]="rowIndex"
                      (ngModelChange)="rowToggle(rowData)"
                      [ngModel]="selection.isSelected(rowData)"
                    ></finlevit-lib-checkbox>
                  </div>
                </div>
              </div>
              <div
                class="f-td"
                [ngStyle]="{
                  width: (col?.width || 100) + 'px',
                  maxWidth: col?.width ? (col?.width || 100) + 'px' : 'auto',
                  flex: (col?.width || 100) + ' 0 auto'
                }"
                *ngFor="let col of columns | customFilter: { filterFn: columnFilterHiddenColumns }"
              >
                <div
                  [ngClass]="{ 'cell-container': true }"
                  [ngStyle]="{
                    'border-right-style': verticalBorder ? 'solid' : 'none',
                    'border-bottom-style': horizontalBorder ? 'solid' : 'none'
                  }"
                >
                  <div
                    [ngClass]="{
                      'inner-cell-container': true,
                      left: col.alignment === CellAlignTypes.LEFT,
                      right: col.alignment === CellAlignTypes.RIGHT,
                      center: col.alignment === CellAlignTypes.CENTER
                    }"
                  >
                    <ng-container [ngSwitch]="col.colType">
                      <ng-container>
                        <div *ngSwitchCase="TextInput">
                          <ng-container *ngIf="isCellEditMode(col, rowIndex)">
                            <finlevit-text
                              applyStyleVariables
                              styleType="input"
                              [styleProperties]="col?.metaData?.styleProperties?.properties"
                              [leftIcon]="col?.metaData?.leftIcon"
                              [rightIcon]="col?.metaData?.rightIcon"
                              [tooltip]="col?.metaData?.tooltip"
                              [placeholder]="col?.metaData?.placeholder"
                              [isRequired]="col?.validators?.required"
                              [(ngModel)]="
                                col?.metaData?.isFormulaField
                                  ? calculateCellValue(col, rowIndex)
                                  : modifyingData[rowIndex][col.columnId]
                              "
                              (ngModelChange)="validateRow(rowIndex, modifyingData[rowIndex], col.columnId)"
                              size="custom"
                              [showClearButton]="col?.metaData?.showClearButton"
                              [prefixText]="col?.metaData?.prefixText"
                              [suffixText]="col?.metaData?.suffixText"
                              [labelPos]="col?.metaData?.styleProperties?.properties?.labelPosition"
                              [showErrorMsg]="col?.metaData?.showErrorMessage"
                              [error]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['error']
                                  : false
                              "
                              [errorMsg]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['errorMsg']
                                  : false
                              "
                            ></finlevit-text>
                          </ng-container>
                          <ng-container *ngIf="!isCellEditMode(col, rowIndex)">
                            <ng-container
                              *ngIf="customTemplates && customTemplates[col?.columnId]; else generic"
                              [ngTemplateOutlet]="customTemplates[col?.columnId]"
                              [ngTemplateOutletContext]="{ row: rowData, column: col }"
                            ></ng-container>
                            <ng-template #generic>
                              {{
                                col?.metaData?.isFormulaField
                                  ? calculateCellValue(col, rowIndex)
                                  : rowData[col.columnId]
                              }}
                            </ng-template>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="TextArea">
                          <ng-container *ngIf="isCellEditMode(col, rowIndex)">
                            <finlevit-lib-textarea
                              applyStyleVariables
                              styleType="input"
                              [styleProperties]="col?.metaData?.styleProperties?.properties"
                              [autoResize]="col?.metaData?.autoResize"
                              [rows]="col?.metaData?.rowsCount"
                              [tooltip]="col?.metaData?.tooltip"
                              [placeholder]="col?.metaData?.placeholder"
                              [isRequired]="col?.validators?.required"
                              [labelPos]="col?.metaData?.styleProperties?.properties?.labelPosition"
                              [(ngModel)]="modifyingData[rowIndex][col.columnId]"
                              (ngModelChange)="validateRow(rowIndex, modifyingData[rowIndex], col.columnId)"
                              size="custom"
                              [showErrorMsg]="col?.metaData?.showErrorMessage"
                              [error]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['error']
                                  : false
                              "
                              [errorMsg]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['errorMsg']
                                  : false
                              "
                            ></finlevit-lib-textarea>
                          </ng-container>
                          <ng-container *ngIf="!isCellEditMode(col, rowIndex)">
                            <ng-container
                              *ngIf="customTemplates && customTemplates[col?.columnId]; else generic"
                              [ngTemplateOutlet]="customTemplates[col?.columnId]"
                              [ngTemplateOutletContext]="{ row: rowData, column: col }"
                            ></ng-container>
                            <ng-template #generic>
                              {{
                                col?.metaData?.isFormulaField
                                  ? calculateCellValue(col, rowIndex)
                                  : rowData[col.columnId]
                              }}
                            </ng-template>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="Number">
                          <ng-container *ngIf="isCellEditMode(col, rowIndex)">
                            <finlevit-number
                              applyStyleVariables
                              styleType="input"
                              [styleProperties]="col?.metaData?.styleProperties?.properties"
                              [placeholder]="col?.metaData?.placeholder"
                              [tooltip]="col?.metaData?.tooltip"
                              [rightIcon]="col?.metaData?.rightIcon"
                              [leftIcon]="col?.metaData?.leftIcon"
                              [mode]="col?.metaData?.mode === 'currency' ? 'decimal' : col?.metaData?.mode"
                              [minFractionDigits]="col?.metaData?.minFractionDigits"
                              [maxFractionDigits]="col?.metaData?.maxFractionDigits"
                              [isRequired]="col?.validators?.required"
                              [maxLength]="col?.validators?.maxLength"
                              [showMaxCharLimit]="col?.validators?.maxLength"
                              [useGrouping]="col?.metaData?.thousandsSeparator"
                              [labelPos]="col?.metaData?.styleProperties?.properties?.labelPosition"
                              [prefixText]="col.metaData.prefixText || col?.metaData?.currency?.currencySymbol"
                              [suffixText]="col?.metaData?.suffixText"
                              [showClearButton]="col?.metaData?.showClearButton"
                              [step]="col?.metaData?.step"
                              [showButtons]="col?.metaData?.showStepperButtons"
                              [(ngModel)]="
                                col?.metaData?.isFormulaField
                                  ? calculateCellValue(col, rowIndex)
                                  : modifyingData[rowIndex][col.columnId]
                              "
                              (ngModelChange)="validateRow(rowIndex, modifyingData[rowIndex], col.columnId)"
                              size="custom"
                              [showErrorMsg]="col?.metaData?.showErrorMessage"
                              [error]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['error']
                                  : false
                              "
                              [errorMsg]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['errorMsg']
                                  : false
                              "
                            ></finlevit-number>
                          </ng-container>
                          <ng-container *ngIf="!isCellEditMode(col, rowIndex)">
                            <ng-container
                              *ngIf="customTemplates && customTemplates[col?.columnId]; else generic"
                              [ngTemplateOutlet]="customTemplates[col?.columnId]"
                              [ngTemplateOutletContext]="{ row: rowData, column: col }"
                            ></ng-container>
                            <ng-template #generic>
                              {{
                                col?.metaData?.thousandsSeparator
                                  ? col?.metaData?.currency
                                    ? col?.metaData.currency?.currencySymbol +
                                      " " +
                                      (calculateCellValue(col, rowIndex) | number)
                                    : (calculateCellValue(col, rowIndex) | number)
                                  : col?.metaData?.currency
                                  ? col?.metaData.currency?.currencySymbol + " " + calculateCellValue(col, rowIndex)
                                  : calculateCellValue(col, rowIndex)
                              }}
                            </ng-template>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="Avatar">
                          <finlevit-icon-name size="24" [data]="{ name: rowData[col?.columnId] }"></finlevit-icon-name>
                        </div>
                        <div *ngSwitchCase="DatePicker">
                          <ng-container *ngIf="isCellEditMode(col, rowIndex)">
                            <finlevit-lib-datepicker
                              applyStyleVariables
                              styleType="input"
                              [styleProperties]="col?.metaData?.styleProperties?.properties"
                              [isRequired]="col?.validators?.required"
                              [tooltip]="col?.metaData?.tooltip"
                              [placeholder]="col?.metaData?.placeholder"
                              [viewDateFormat]="col?.metaData?.viewDateFormat"
                              [returnDateFormat]="col?.metaData?.returnDateFormat"
                              [yearNavigator]="true"
                              [monthNavigator]="true"
                              [labelPos]="col?.metaData?.styleProperties?.properties?.labelPosition"
                              [showTime]="col?.metaData?.showTime"
                              [hourFormat]="col?.metaData?.hourFormat"
                              [stepMinute]="col?.metaData?.stepMinute"
                              [stepHour]="col?.metaData?.stepHour"
                              [(ngModel)]="modifyingData[rowIndex][col.columnId]"
                              (ngModelChange)="validateRow(rowIndex, modifyingData[rowIndex], col.columnId)"
                              size="custom"
                              [showErrorMsg]="col?.metaData?.showErrorMessage"
                              [minDate]="col?.validators?.minDate"
                              [maxDate]="col?.validators?.maxDate"
                              [error]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['error']
                                  : false
                              "
                              [errorMsg]="
                                rowErrors[rowIndex] && rowErrors[rowIndex][col.columnId]
                                  ? rowErrors[rowIndex][col.columnId]['errorMsg']
                                  : false
                              "
                            ></finlevit-lib-datepicker>
                          </ng-container>
                          <ng-container *ngIf="!isCellEditMode(col, rowIndex)">
                            <ng-container
                              *ngIf="customTemplates && customTemplates[col?.columnId]; else generic"
                              [ngTemplateOutlet]="customTemplates[col?.columnId]"
                              [ngTemplateOutletContext]="{ row: rowData, column: col }"
                            ></ng-container>
                            <ng-template #generic>
                              {{
                                col?.metaData?.viewDateFormat
                                  ? (rowData[col.columnId] | customDate: col?.metaData?.viewDateFormat)
                                  : (rowData[col.columnId] | customDate: dateFormat)
                              }}
                            </ng-template>
                          </ng-container>
                        </div>
                        <div *ngSwitchDefault>
                          <ng-container
                            *ngIf="customTemplates && customTemplates[col?.columnId]; else generic"
                            [ngTemplateOutlet]="customTemplates[col?.columnId]"
                            [ngTemplateOutletContext]="{ row: rowData, column: col }"
                          ></ng-container>
                          <ng-template #generic>
                            {{ rowData[col?.columnId] }}
                          </ng-template>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div
                *ngIf="actions?.editRow || actions?.deleteRow"
                class="f-td"
                [ngStyle]="{
                  width: (actions?.width || 100) + 'px',
                  flex: (actions?.width || 100) + ' 0 auto'
                }"
              >
                <div
                  class="cell-container"
                  [ngStyle]="{
                    'border-bottom-style': horizontalBorder ? 'solid' : 'none'
                  }"
                >
                  <div
                    [ngClass]="{
                      'inner-cell-container': true,
                      'table-row-actions': true,
                      left: actions.alignment === CellAlignTypes.LEFT,
                      right: actions.alignment === CellAlignTypes.RIGHT,
                      center: actions.alignment === CellAlignTypes.CENTER
                    }"
                  >
                    <ng-container *ngIf="isRowEditMode(rowIndex)">
                      <div
                        [ngClass]="{ 'row-actions edit-action-mode': true, disabled: Object.keys(editCells).length }"
                      >
                        <finlevit-icon-preview
                          *ngIf="actions?.editRow"
                          class="save-action"
                          icon="pi pi-check save-icon"
                          (click)="onRowSave(rowIndex, modifyingData[rowIndex])"
                        ></finlevit-icon-preview>
                        <finlevit-icon-preview
                          class="delete-action"
                          icon="pi pi-times cancel-icon"
                          (click)="onRowEditCancel(rowIndex, modifyingData[rowIndex])"
                        ></finlevit-icon-preview>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!isRowEditMode(rowIndex) && isNewRowEditMode(rowIndex)">
                      <div [ngClass]="{ 'row-actions new-action-mode': true, disabled: Object.keys(editCells).length }">
                        <finlevit-icon-preview
                          class="save-action"
                          *ngIf="actions?.editRow"
                          icon="pi pi-check save-icon"
                          (click)="onRowSave(rowIndex, modifyingData[rowIndex], true)"
                        ></finlevit-icon-preview>
                        <finlevit-icon-preview
                          class="delete-action"
                          icon="pi pi-trash delete-icon"
                          (click)="onDelete($event, rowIndex, modifyingData[rowIndex] || rowData, true)"
                        ></finlevit-icon-preview>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!isRowEditMode(rowIndex) && !isNewRowEditMode(rowIndex)">
                      <div [ngClass]="{ 'row-actions': true, disabled: Object.keys(editCells).length }">
                        <finlevit-icon-preview
                          class="edit-action"
                          icon="pi pi-pencil"
                          *ngIf="actions?.editRow"
                          (click)="onEdit($event, rowIndex, rowData)"
                        ></finlevit-icon-preview>
                        <finlevit-icon-preview
                          class="delete-action"
                          icon="pi pi-trash delete-icon"
                          *ngIf="actions?.deleteRow"
                          (click)="onDelete($event, rowIndex, modifyingData[rowIndex] || rowData)"
                        ></finlevit-icon-preview>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div [ngClass]="{ 'hide-footer-cell-actions': true }" *ngIf="hideFooter && Object.keys(editCells).length">
      <ng-container *ngTemplateOutlet="cellEditActions"></ng-container>
    </div>
    <div [ngClass]="{ '-pagination': true, 'table-footer': !hideFooter }">
      <div class="-left d-flex">
        <div class="table-results-counter" *ngIf="!Object.keys(editCells).length; else cellEditActions">
          <ng-container *ngIf="pagination?.totalRecords && isPaginationEnabled; else zeroRecordsResult">
            Showing {{ pagination?.start }} - {{ pagination?.end }} of {{ pagination?.totalRecords }}
          </ng-container>
          <ng-template #zeroRecordsResult> Showing {{ pagination?.totalRecords }} results </ng-template>
        </div>
        <ng-template #cellEditActions>
          <!--          <div class="ml-2 mr-2">-->
          <!--            <finlevit-button-->
          <!--              label="Save"-->
          <!--              applyStyleVariables-->
          <!--              styleType="button"-->
          <!--              variant="custom"-->
          <!--              isHover="true"-->
          <!--              [styleProperties]="saveBtnProperties?.properties"-->
          <!--              (btnClick)="onColSave($event)"-->
          <!--            ></finlevit-button>-->
          <!--          </div>-->
          <!--          <div class="ml-2 mr-2">-->
          <!--            <finlevit-button-->
          <!--              label="Cancel"-->
          <!--              applyStyleVariables-->
          <!--              styleType="button"-->
          <!--              variant="custom"-->
          <!--              isHover="true"-->
          <!--              [styleProperties]="cancelBtnProperties?.properties"-->
          <!--              (btnClick)="onColSaveCancel($event)"-->
          <!--            ></finlevit-button>-->
          <!--          </div>-->
        </ng-template>
      </div>
      <div [ngClass]="{ '-center': true, 'show-pagination': isPaginationEnabled }">
        <div class="-page-limit">
          <finlevit-lib-select
            *ngIf="showPageOptions"
            class="items-per-page"
            optionLabel="name"
            size="xs"
            name="pagelimit"
            [(ngModel)]="fixedRecordsPerPage"
            (ngModelChange)="onPageLimitChange($event)"
            [options]="pageOptions"
          ></finlevit-lib-select>
        </div>
        <div class="-previous">
          <button class="footer-btn" [disabled]="pagination.isFirst" (click)="pagination.prev()">
            <i class="pi pi-angle-left"></i>
          </button>
        </div>
        <span class="-pageInfo">
          <div class="-pageJump">
            <input
              pagination
              #pagination="pagination"
              [totalPages]="getTotalPages()"
              [pageNo]="currentPage"
              [limit]="limitPerPage"
              [totalRecords]="
                isServerSidePagination
                  ? totalRecords
                  : tableFilters?.filtersEnabled
                  ? filteredTableData.length
                  : tableData.length
              "
              (pageChange)="handlePageChange($event)"
              class="page-input"
              aria-label="Page number"
              type="number"
              value="1"
            />
          </div>
          of <span class="-totalPages">{{ pagination.totalPages }}</span></span
        >
        <div class="-next">
          <button class="footer-btn" [disabled]="pagination.isLast" (click)="pagination.next()">
            <i class="pi pi-angle-right"></i>
          </button>
        </div>
      </div>
      <div
        [ngClass]="{
          'table-actions': true,
          'd-none': !(!Object.keys(newRows).length && !Object.keys(editRows).length && !Object.keys(editCells).length)
        }"
      >
        <app-custom-table-filters
          *ngIf="filter"
          #tableFilters
          [columns]="
            columns
              | customFilter: { filterFn: columnFilterNoFilterColumns }
              | customFilter: { filterFn: columnFilterHiddenColumns }
          "
          (search)="handleSearch($event)"
        ></app-custom-table-filters>
        <ng-content select=".custom-actions"></ng-content>
        <finlevit-icon-preview
          [style.cursor]="'pointer'"
          class="ml-3"
          *ngIf="addRows && !tableFilters?.filtersEnabled"
          (onClick)="addRow()"
          icon="pi pi-plus"
        ></finlevit-icon-preview>
      </div>
    </div>
  </div>
</div>
