/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './assets/scss/typography.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Override the typography in the core CSS.
@include mat-core($custom-typography);
@import './assets/scss/theme.scss';

/* primeng css */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import './assets/scss/index.scss';

/* custom primeng css */
.p-inputnumber,
.p-inputnumber-input,
.p-inputtext,
.p-calendar,
.p-colorpicker {
  width: 100%;
}
.p-dropdown .p-dropdown-label {
  padding: 0.3rem;
}
.p-calendar {
  .p-button.p-button-icon-only {
    padding: 0;
    background: white;
    color: #495157;
    border-color: #ced4d9;
    border-left: none;
  }
}
.p-input-icon-right {
  width: 100%;
}
.p-input-icon-left {
  width: 100%;
}
.p-inputnumber-sm .p-inputnumber-input {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}
::placeholder {
  color: var(--surface-400);
  //font-size: 1.5em;
}
.p-dropdown {
  width: 100%;
  //height: 2.2rem;
}
.error-input {
  .p-inputnumber-input {
    border-color: $red;
  }
  .p-checkbox-box {
    border-color: $red;
  }
}
.error-border {
  input {
    border-color: $red;
  }
  .p-calendar .p-button.p-button-icon-only {
    border-color: $red;
  }
  input:hover {
    border-color: $red !important;
  }
}
.input-label,
.checkbox-label {
  .label-tooltip {
    color: gray;
  }
  font-weight: 500;
  .required {
    color: $red;
  }
}
.p-field-checkbox > label,
.p-field-radiobutton > label {
  margin-left: 0.5rem;
  line-height: 1;
  margin-bottom: 0;
}
.button-input{
  .p-button{
    width: 100%
  }
}
.tab-container {
  height: 100%;
  padding: 4px;
  .p-tabview{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-tabview-panels{
    height: 100%;
    border: 1px solid #dee2e6;
    border-top: 0;
    font-size: 14px;
    color: inherit;
  }
  &.no-tab-container{
    .p-tabview-panels {
      height: 100%;
    }
    .p-tabview{
      height: 100%;
    }
  }
  .p-tabview-panel{
    height: 100%;
  }
  .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link{
    border-color: #dee2e6;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none;
  }
}
/* custom primeng css */

@keyframes focuses {
  0% {
    -webkit-box-shadow: 0 0 10px #ff9212;
    -moz-box-shadow: 0 0 10px #ff9212;
    box-shadow: 0 0 10px #ff9212;
  }

  50% {
    -webkit-box-shadow: 0 0 0 #ff9212;
    -moz-box-shadow: 0 0 0 #ff9212;
    box-shadow: 0 0 0 #ff9212;
  }

  100% {
    -webkit-box-shadow: 0 0 10px #ff9212;
    -moz-box-shadow: 0 0 10px #ff9212;
    box-shadow: 0 0 10px #ff9212;
  }
}
/* Mat stepper widget css */
.mat-stepper-horizontal{
  display: flex !important;
  flex-direction: column;
  height: 100%;
}
.mat-horizontal-content-container {
  flex-grow: 1;
}
.mat-horizontal-stepper-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  min-width: 200px;
}
.mat-step-text-label {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
}
.mat-step-label-text{
  padding: 0 0.3rem;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
  background-color: rgb(169 167 167 / 4%);
}
.stepper-btn-container{
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.step-btn{
  color: #ffffff;
  background: #007bff;
  border: 1px solid #007bff;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  border-radius: 30px;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #007bfe;
  color: white;
}
/* Mat stepper widget css */
/* Table css */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  background: none;
  color: inherit;
}