/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Override the typography in the core CSS.
@include mat-core();

/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/index.scss";
//material icons
@import "./assets/fonts/fonts";
// action event pop over styles
@import "~bootstrap/dist/css/bootstrap.css";

/* common css */
/* common css */

/* primeng css */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";

.ck.ck-list__item .ck-button.ck-on {
  background: #d2d1d1 !important;
  color: black !important;
}
.mention-active > a {
  background: #d2d1d1 !important;
  color: black !important;
}
body {
  font-size: var(--font-size-30);
  color: var(--primary-text-color);
}
/* Mat stepper widget css */
.mat-stepper-horizontal {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}
.mat-horizontal-content-container {
  flex-grow: 1;
}
.mat-horizontal-stepper-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  min-width: 200px;
}
.mat-step-text-label {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
}
.mat-step-label-text {
  padding: 0 0.3rem;
}
.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover {
  background-color: rgb(169 167 167 / 4%);
}
.stepper-btn-container {
  display: flex;
  justify-content: space-between;
}
.step-btn {
  color: #ffffff;
  background: #007bff;
  border: 1px solid #007bff;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  border-radius: 30px;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #007bfe;
  color: white;
}
/* Mat stepper widget css */
.ck.ck-editor__main > .ck-editor__editable {
  background: #fafafa !important;
}
.ck-editor__editable {
  min-height: 400px;
  p {
    padding: 0;
  }
}
.text-editor-content {
  min-height: 500px;
}
.text-content {
  p {
    padding: 0;
  }
  .text-tiny {
    font-size: 0.7em;
  }
  .text-small {
    font-size: 0.85em;
  }
  .text-big {
    font-size: 1.4em;
  }
  .text-huge {
    font-size: 1.8em;
  }
  .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double #b3b3b3;
  }
  .table table td,
  .ck-content .table table th {
    min-width: 2em;
    padding: 0.4em;
    border: 1px solid #bfbfbf;
  }
  figure {
    margin: auto;
  }
  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
  }
}
.ck.ck-balloon-panel {
  z-index: 9999 !important;
}

//Field Modal styles
.field-modal-content {
  height: 100%;
  width: 100%;
  &.p-dialog-content {
    padding: 0;
  }
}
.p-dialog-mask {
  z-index: 111 !important;
  &.field-modal-mask {
    z-index: 1 !important;
  }
}
//Collapse Container
.collapse-container {
  height: 100%;
  .p-accordion {
    height: 100%;
  }
  .p-accordion-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-toggleable-content {
    height: 100%;
  }
  .p-accordion-content {
    height: 100%;
    padding: 0;
  }
  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    margin-right: 0;
  }
}
//Conditions CSS
.conditions-component {
  min-width: 70%;
}
// cascade select css
.p-cascadeselect {
  width: 100%;
}
.p-cascadeselect .p-cascadeselect-label {
  padding: 0.3rem;
}
.p-cascadeselect-panel .p-cascadeselect-items {
  width: 100%;
}

body {
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
}

// Global styles
// required styles
.required {
  color: var(--color-error);
}
.widget-Holder {
  margin-bottom: var(--spacing-sm-md);
}
//icon config popover
.icon-config-popover {
  min-width: 370px;
  .arrow::before {
    display: none;
  }
  @include popover-container();
  .popover-header {
    @include popover-header();
  }
}
//Widget Config Popover{
.config-popover {
  min-width: 320px;
  z-index: 110;
  .arrow::before {
    display: none;
  }
  @include popover-container();
  .popover-header {
    @include popover-header();
  }
}

.tab-container {
  height: 100%;
  padding: 4px;
  .p-tabview {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-tabview-panels {
    height: 100%;
    border: 1px solid #dee2e6;
    border-top: 0;
    font-size: var(--font-size-30);
    color: inherit;
  }
  &.no-tab-container {
    .p-tabview-panels {
      height: 100%;
    }
    .p-tabview {
      height: 100%;
    }
  }
  .p-tabview-panel {
    height: 100%;
  }
  .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link {
    border-color: #dee2e6;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }
}
