/* primeng css */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import './assets/scss/index.scss';

/* normalize css start */
.preview-container{
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    visibility: hidden;
  }
}
/* normalize css end */

/* custom primeng css */
.p-inputnumber,
.p-inputnumber-input,
.p-inputtext,
.p-calendar,
.p-colorpicker {
  width: 100%;
}
.p-dropdown .p-dropdown-label {
  padding: 0.3rem;
}
.p-calendar {
  .p-button.p-button-icon-only {
    padding: 0;
    background: white;
    color: #495157;
    border-color: #ced4d9;
    border-left: none;
  }
}
.p-input-icon-right {
  width: 100%;
}
.p-input-icon-left {
  width: 100%;
}
.p-inputnumber-sm .p-inputnumber-input {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}
::placeholder {
  color: var(--surface-400);
  //font-size: 1.5em;
}
.p-dropdown {
  width: 100%;
  //height: 2.2rem;
}
.error-input {
  .p-inputnumber-input {
    border-color: $red;
  }
  .p-checkbox-box {
    border-color: $red;
  }
}
.error-border {
  input {
    border-color: $red;
  }
  .p-calendar .p-button.p-button-icon-only {
    border-color: $red;
  }
  input:hover {
    border-color: $red !important;
  }
}
.input-label,
.checkbox-label {
  .label-tooltip {
    color: gray;
  }
  font-family: 'Muli';
  font-weight: 400;
  .required {
    color: $red;
  }
}
.radio-group-label{
  font-weight: 400 !important;
}
.p-field-checkbox > label,
.p-field-radiobutton > label {
  margin-left: 0.5rem;
  line-height: 1;
  margin-bottom: 0;
}
.button-input{
  .p-button{
    width: 100%;
    height: 100%;
  }
}
.tab-container {
  height: 100%;
  padding: 4px;
  .p-tabview{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-tabview-panels{
    height: 100%;
    border: 1px solid #dee2e6;
    border-top: 0;
    font-size: 14px;
    color: inherit;
  }
  &.no-tab-container{
    .p-tabview-panels {
      height: 100%;
    }
    .p-tabview{
      height: 100%;
    }
  }
  .p-tabview-panel{
    height: 100%;
  }
  .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link{
    border-color: #dee2e6;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none;
  }
}
/* custom primeng css */

@keyframes focuses {
  0% {
    -webkit-box-shadow: 0 0 10px #ff9212;
    -moz-box-shadow: 0 0 10px #ff9212;
    box-shadow: 0 0 10px #ff9212;
  }

  50% {
    -webkit-box-shadow: 0 0 0 #ff9212;
    -moz-box-shadow: 0 0 0 #ff9212;
    box-shadow: 0 0 0 #ff9212;
  }

  100% {
    -webkit-box-shadow: 0 0 10px #ff9212;
    -moz-box-shadow: 0 0 10px #ff9212;
    box-shadow: 0 0 10px #ff9212;
  }
}
/* Mat stepper widget css */
.mat-stepper-horizontal{
  display: flex !important;
  flex-direction: column;
  height: 100%;
}
.mat-horizontal-content-container {
  flex-grow: 1;
}
.mat-horizontal-stepper-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  min-width: 200px;
}
.mat-step-text-label {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
}
.mat-step-label-text{
  padding: 0 0.3rem;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
  background-color: rgb(169 167 167 / 4%);
}
.stepper-btn-container{
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.step-btn{
  color: #ffffff;
  background: #007bff;
  border: 1px solid #007bff;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  border-radius: 30px;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #007bfe;
  color: white;
}
/* Mat stepper widget css */
/* Table css */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  background: none;
  color: inherit;
}
.text-content {
  p {
    padding: 0;
  }
  .text-tiny {
    font-size: .7em;
  }
  .text-small {
    font-size: .85em;
  }
  .text-big {
    font-size: 1.4em;
  }
  .text-huge {
    font-size: 1.8em;
  }
  .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double #b3b3b3;
  }
  .table table td, .ck-content .table table th {
    min-width: 2em;
    padding: .4em;
    border: 1px solid #bfbfbf;
  }
  blockquote{
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
  }
  figure{
    margin: auto;
  }
}


//Field Modal styles
.field-modal-content {
  height: 100%;
  width: 100%;
  &.p-dialog-content{
    padding: 0;
  }
}
.p-dialog-mask{
  z-index: 100;
}

//Collapse Container
.collapse-container{
  height: 100%;
  .p-accordion{
    height: 100%;
  }
  .p-accordion-tab{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-toggleable-content{
    height: 100%;
  }
  .p-accordion-content{
    height: 100%;
    padding: 0;
  }
  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
    box-shadow: none;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link{
    padding: 0;
    text-decoration: none;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    margin-right: 0;
  }
}
//Error styles
.error-msg {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  color: rgb(97, 26, 21);
  background-color: rgb(253, 236, 234);
  margin: 0 20px;
  display: flex;
}
//Table css start
.p-datatable-wrapper {
  font-family: sans-serif, serif;
  font-size: 13px;
  .p-datatable-thead > tr > th{
    font-weight: 500;
    line-height: 2rem;
  }
  .p-sortable-column-icon{
    font-size: 11px;
  }
  .pi-filter-icon{
    font-size: 11px;
  }
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.2rem 0.5rem;
}
.p-datatable-tbody>tr>td,
.p-datatable-tfoot>tr>td,
.p-datatable-thead>tr>th {
  overflow: hidden;
  white-space: nowrap;
}
//Table css end