<div class="stepper-container">
  <div
    class="progressbar"
    [ngStyle]="{
      background: metaData.leftPanelBgColor
    }"
  >
    <div class="stepper-header" *ngIf="metaData.showHeader"  [ngStyle]="{
      height: metaData.headerHeight+'px'
    }">
      <finlevit-grid
        [viewMode]="viewMode"
        [parent]="headerContent[0]"
        [items]="headerContent[0]?.children"
      ></finlevit-grid>
    </div>
    <ul class="stepper-body" [ngStyle]="{
      height: metaData.stepperHeight+'px'
    }" #stepperBody>
      <li
        *ngFor="let child of children; let i = index"
        [ngClass]="{
          completed: _selectedIndex > i || completedSteps[child.metaData.widgetId],
          selected: _selectedIndex === i,
          hidden: i===0
        }"
        (click)="onSelectIndexChange(i)"
      >
        <div
          [ngClass]="{
            indicator: true,
            'box-pattern': metaData.indicatorPattern === 'square'
          }"
        >
          <i [class]="child.metaData.icon"></i>
        </div>
        <div class="step-label">
          <p
            [class]="'text-content text-style-' + metaData?.textStyle"
            [ngStyle]="{
              color:
                _selectedIndex > i
                  ? metaData.completedStepColor
                  : _selectedIndex === i
                  ? metaData.currentStepColor
                  : metaData.color,
              'font-weight': metaData.fontWeight,
              'font-style': metaData.fontStyle,
              'text-decoration': metaData.textDecortation
            }"
          >
            {{ child.label }}
          </p>
          <p class="sub-lable">{{ child?.metaData?.sublabel }}</p>
        </div>
        <span
          [ngStyle]="{
            background: _selectedIndex > i ? metaData.completedBarColor : metaData.defaultBarColor
          }"
        ></span>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="inner-wrapper">
      <div class="scrollView">
        <div
          class="content"
          [ngStyle]="{
            background: metaData.conentBgColor
          }"
          #contentConatiner
        >
          <finlevit-grid
            [viewMode]="viewMode"
            [parent]="children[_selectedIndex]"
            [items]="children[_selectedIndex].children"
            (onBtnClick)="onBtnClick.emit($event)"
            (checkHeight)="checkHeight()"
            [showEdit]="showEdit"
            (onTableDataChange)="onTableDataChange.emit($event)"
            (onOptionChange)="onOptionChange.emit($event)"
          ></finlevit-grid>
          <ng-container *ngIf="_selectedIndex == children.length - 1 && reviewData.length">
            <div class="review_content">
              <div *ngFor="let child of reviewData; let i = index">
                <h5>{{ child.label }}</h5>
                <div class="personal-panel">
                  <button class="btn btn-info edit-btn" (click)="onSelectIndexChange(i)">Edit</button>
                  <div class="content-container">
                    <p *ngFor="let item of child.children">
                      <strong>{{ item.label }}</strong
                      >&ngsp;:&ngsp;<span>{{ item.value }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div
        [ngClass] = "{
          'stepper-btn-container': true
        }"        
      >
      <finlevit-grid
          [viewMode]="viewMode"
          [showEdit]="showEdit"
          [parent]="children[0]"
          [items]="children[0]?.children"
          (onBtnClick)="setSelection($event)"
          [style]="{width:'100%'}"
        ></finlevit-grid>
      </div>
    </div>
  </div>
</div>
