<div class="stepper-container">
  <div class="progressbar">
    <div
      class="stepper-header"
      *ngIf="metaData.showHeader"
      [ngStyle]="{
        height: metaData.headerHeight + 'px'
      }"
    >
      <finlevit-grid
        [viewMode]="viewMode"
        [parent]="headerContent[0]"
        [items]="headerContent[0]?.children"
      ></finlevit-grid>
    </div>
    <ul
      class="stepper-body"
      [ngStyle]="{
        height: metaData.stepperHeight + 'px'
      }"
      #stepperBody
    >
      <li
        *ngFor="let child of children; let i = index"
        [ngClass]="{
          completed: _selectedIndex > i || completedSteps[child.metaData.widgetId],
          selected: _selectedIndex === i
        }"
        (click)="onSelectIndexChange(i)"
      >
        <div
          [ngClass]="{
            indicator: true,
            'box-pattern': metaData.indicatorPattern === 'square'
          }"
        >
          <i [class]="child.metaData.icon"></i>
        </div>
        <div class="step-label">
          <p
            [ngClass]="{
              completedStep: _selectedIndex > i,
              currentStep: _selectedIndex === i,
              defaultColor: i > _selectedIndex
            }"
          >
            {{ child.label }}
          </p>
          <p class="sub-lable">{{ child?.metaData?.sublabel }}</p>
        </div>
        <span
          [ngClass]="{
            completedBar: _selectedIndex > i,
            currentBar: _selectedIndex <= i
          }"
        ></span>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="inner-wrapper">
      <div class="scrollView">
        <div [ngClass]="'content' + ' content' + metaData['widgetId']" #contentConatiner>
          <finlevit-grid
            [viewMode]="viewMode"
            [parent]="children[_selectedIndex]"
            [items]="children[_selectedIndex].children"
            [filter]="{ metaData: { isFooterContainer: false } }"
            (onBtnClick)="onBtnClick.emit($event)"
            (checkHeight)="checkHeight()"
            [showEdit]="showEdit"
            (onTableDataChange)="onTableDataChange.emit($event)"
            (onOptionChange)="onOptionChange.emit($event)"
          ></finlevit-grid>
          <ng-container *ngIf="_selectedIndex === children.length - 1 && reviewData.length">
            <div class="review_content">
              <div *ngFor="let child of reviewData; let i = index">
                <h5>{{ child.label }}</h5>
                <div class="personal-panel">
                  <button class="btn btn-info edit-btn" (click)="onSelectIndexChange(i)">Edit</button>
                  <div class="content-container">
                    <p *ngFor="let item of child.children">
                      <strong>{{ item.label }}</strong
                      >&ngsp;:&ngsp;<span>{{ item.value }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div
        [ngClass]="{
          'stepper-btn-container': true
        }"
      >
        <finlevit-grid
          [viewMode]="viewMode"
          [showEdit]="showEdit"
          [parent]="children[_selectedIndex].children[0]"
          [items]="children[_selectedIndex].children[0]?.children"
          (onBtnClick)="setSelection($event)"
          [style]="{ width: '100%' }"
        ></finlevit-grid>
      </div>
    </div>
  </div>
</div>
