<p-table
  [lazy]="lazyLoad"
  (onLazyLoad)="onPage($event)"
  [columns]="columns"
  [value]="tableData"
  [styleClass]="styleClass"
  [paginator]="pagination && !!tableData.length"
  [rowsPerPageOptions]="[10, 20, 50]"
  [rows]="10"
  [totalRecords]="totalRecords || tableData.length"
  [paginatorDropdownAppendTo]="'body'"
  [resizableColumns]="false"
  [loading]="loading"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} to {last} of {totalRecords}"
  [id]="tableId"
  (sortFunction)="customSort($event)"
  [customSort]="true"
>
  <ng-template pTemplate="header">
    <tr *ngIf="!hideHeader">
      <th
        [ngStyle]="{
          color: headerColor,
          backgroundColor: headerBgColor,
          border: !cellBorder ? 'none' : '',
          width: column?.metaData?.colWidth + '%'
        }"
        [attr.data-colId]="column.id"
        pResizableColumn
        [pSortableColumn]="sort ? column?.widgetName : ''"
        *ngFor="let column of columns"
      >
        {{ column.label }}
        <p-sortIcon *ngIf="sort" [field]="column.widgetName"></p-sortIcon>
      </th>
      <ng-container *ngIf="editRow || deleteRow">
        <th
          [ngStyle]="{
            color: headerColor,
            backgroundColor: headerBgColor,
            width: actionCol?.width + '%',
            border: !cellBorder ? 'none' : '',
            textAlign: 'center'
          }"
          [pSortableColumn]="''"
        >
          {{ actionCol?.label }}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr (click)="onRowClick.emit(rowData)">
      <td
        *ngFor="let colData of rowData; let i = index"
        [ngStyle]="{ width: columns[i]?.metaData?.colWidth + '%', border: !cellBorder ? 'none' : '' }"
      >
        <ng-container [ngSwitch]="colData?.metaData?.widgetType">
          <div class="p-pl-1" *ngSwitchCase="TextInput">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value }}
            </ng-container>
            <finlevit-text
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              (onBlur)="onColDataChange.emit({ column: colData, data: colData?.value?.value })"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-text>
          </div>
          <div class="p-pl-1" *ngSwitchCase="Dropdown">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value }}
            </ng-container>
            <finlevit-lib-select
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [placeholder]="colData?.metaData?.placeholder || 'select'"
              [isDisabled]="false"
              [isRequired]="colData?.validators?.required"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [options]="colData?.metaData?.options"
              [optionLabel]="
                colData?.metaData?.isLabelAndValue || colData?.metaData?.optionType === 'dataresource'
                  ? colData?.metaData?.optionLabel
                  : ''
              "
              [optionValue]="
                colData?.metaData?.isLabelAndValue || colData?.metaData?.optionType === 'dataresource'
                  ? colData?.metaData?.optionValue
                  : ''
              "
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
              [tooltip]="colData?.metaData?.tooltip"
            ></finlevit-lib-select>
          </div>
          <div class="p-pl-1" *ngSwitchCase="Email">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value }}
            </ng-container>
            <finlevit-text
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              (onBlur)="onColDataChange.emit({ column: colData, data: colData?.value?.value })"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [pattern]="colData?.validators?.pattern || null"
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-text>
          </div>
          <div class="p-pl-1" *ngSwitchCase="Checkbox">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value ? "True" : "False" }}
            </ng-container>
            <finlevit-lib-checkbox
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [label]="colData?.label"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isRequired]="colData?.validators?.required"
              [tooltip]="colData?.metaData?.tooltip"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-lib-checkbox>
          </div>
          <div class="p-pl-1" *ngSwitchCase="Image">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              <img height="100px" width="100%" [src]="colData?.value?.value" alt="cell-image" />
            </ng-container>
            <finlevit-lib-textarea
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-lib-textarea>
          </div>
          <div class="p-pl-1" *ngSwitchCase="TextArea">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value }}
            </ng-container>
            <finlevit-lib-textarea
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-lib-textarea>
          </div>
          <div class="p-pl-1" *ngSwitchCase="RadioGroup">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value }}
            </ng-container>
            <finlevit-radio-group
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
              [isRequired]="colData?.validators?.required"
              [items]="colData?.metaData?.options"
              [alignOptions]="colData?.metaData?.alignOptions"
              [optionLabel]="colData?.metaData?.isLabelAndValue ? colData?.metaData?.optionLabel : ''"
              [optionValue]="colData?.metaData?.isLabelAndValue ? colData?.metaData?.optionValue : ''"
            ></finlevit-radio-group>
          </div>
          <div class="p-pl-1" *ngSwitchCase="Number">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value }}
            </ng-container>
            <finlevit-number
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-number>
          </div>
          <div class="p-pl-1" *ngSwitchCase="DatePicker">
            <ng-container *ngIf="!(colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex]))">
              {{ colData?.value?.value | date }}
            </ng-container>
            <finlevit-lib-datepicker
              *ngIf="colData?.validators?.editable && (editRows[rowIndex] || newRows[rowIndex])"
              [(ngModel)]="colData.value.value"
              (ngModelChange)="validateRow(rowIndex, rowData, colData)"
              [isSmall]="true"
              [minDate]="colData?.validators?.minDate"
              [maxDate]="colData?.validators?.maxDate"
              [error]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['error']
                  : false
              "
              [errorMsg]="
                rowErrors[rowIndex] && rowErrors[rowIndex][colData?.metaData?.widgetId]
                  ? rowErrors[rowIndex][colData?.metaData?.widgetId]['errorMsg']
                  : false
              "
            ></finlevit-lib-datepicker>
          </div>
          <div class="p-pl-1" *ngSwitchCase="Modal">
            <app-modal [item]="colData" [viewMode]="false"></app-modal>
          </div>
          <div *ngSwitchDefault>
            {{ colData?.value?.value }}
          </div>
        </ng-container>
      </td>
      <td
        *ngIf="editRow || deleteRow"
        [ngStyle]="{ width: actionCol.width + '%', border: !cellBorder ? 'none' : '' }"
        class="table-actions"
      >
        <ng-container *ngIf="editRows[rowIndex]">
          <div class="edit-action-mode">
            <i class="pi pi-check save-icon" (click)="onRowSave(rowIndex, rowData)"></i>
            <i class="pi pi-times cancel-icon" (click)="onRowEditCancel(rowIndex, rowData)"></i>
          </div>
        </ng-container>
        <ng-container *ngIf="!editRows[rowIndex] && newRows[rowIndex]">
          <div class="new-action-mode">
            <i class="pi pi-check save-icon" (click)="onRowSave(rowIndex, rowData, true)"></i>
            <i class="pi pi-trash delete-icon" (click)="onDelete(rowIndex, rowData, true)"></i>
          </div>
        </ng-container>
        <ng-container *ngIf="!editRows[rowIndex] && !newRows[rowIndex]">
          <div class="edit-action" *ngIf="editRow" (click)="onEdit(rowIndex, rowData)">
            <i class="pi pi-pencil"></i>
          </div>
          <div class="delete-action" *ngIf="deleteRow" (click)="onDelete(rowIndex, rowData)">
            <i class="pi pi-trash delete-icon"></i>
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" class="table-footer">
    <div class="table-footer" *ngIf="addRows && (!tableData.length || !pagination)">
      <p-button (click)="addRow()" type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button *ngIf="addRows" (click)="addRow()" type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorleft"> </ng-template>
</p-table>
