<finlevit-lib-select
  [placeholder]="item?.metaData?.placeholder"
  [isDisabled]="isDisabled"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  [error]="item?.error == true"
  [options]="item?.metaData?.options"
  [optionLabel]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionLabel : 'name'"
  [optionValue]="item?.metaData?.isLabelAndValue ? item?.metaData?.optionValue : 'value'"
  [tooltip]="item?.metaData?.tooltip"
  [(ngModel)]="item.value.value"
  (ngModelChange)="onOptionChange($event)"
  [allowLabelWrapping]="item?.metaData?.allowLabelWrapping"
  [labelPos]="item?.metaData?.styleProperties?.properties?.labelPosition"
  [errorMsg]="item?.errorMessage || item?.metaData?.errorMessage"
  [showErrorMsg]="item?.metaData?.showErrorMessage"
  applyStyleVariables
  styleType="input"
  [styleProperties]="item?.metaData?.styleProperties?.properties"
></finlevit-lib-select>
