<finlevit-lib-select
  [placeholder]="item?.metaData?.placeholder"
  [isDisabled]="viewMode && (!item?.validators?.editable || !editMode)"
  [isRequired]="item?.validators?.required"
  [label]="item?.label"
  [errorMsg]="item?.errorMsg"
  [error]="item?.error == true"
  [options]="item?.metaData?.options"
  [optionLabel]="
    item?.metaData?.isLabelAndValue  ? item?.metaData?.optionLabel : ''
  "
  [optionValue]="
    item?.metaData?.isLabelAndValue ? item?.metaData?.optionValue : ''
  "
  [tooltip]="item?.metaData?.tooltip"
  [(ngModel)]="item.value.value"
  (ngModelChange)="onOptionChange($event)"
></finlevit-lib-select>
